-#  Copyright (c) 2022, Pfadibewegung Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.



%div
  %h2=t('.account')

  %table
    %tr
      - if person.two_factor_authentication
        %td.column-with-min-width
          = format_login_icons(:two_factors)
        %td
          = t('.person_has_2FA')

      - else
        %td.column-with-min-width
          = format_login_icons(:status_off)
        %td
          = t('.person_no_2FA')
    %tr
      - if person.email?
        %td.column-with-min-width
          = format_login_icons(:login)
        %td
          = t('.person_has_login')

      - else
        %td.column-with-min-width
          = format_login_icons(:status_off)
        %td
          = t('.person_no_login')

    %tr
      - if person.blocked?
        %td.column-with-min-width
          = format_login_icons(:blocked)
        %td
          = t('.person_blocked')

      - else
        %td.column-with-min-width
          = format_login_icons(:not_blocked)
        %td
          = t('.person_not_blocked')

%br

%div
  %strong
    = t('.last_sign_in_at')
  - if person.last_sign_in_at?
    = format_attr(person, :last_sign_in_at)
  - else
    = t('.no_last_sign_in')
%br

- if person.email?
  %div
    %h2=t('.security_and_privacy')

    %strong.bigger-title
      = @password_compromised_situation_text
    %div.well
      = @password_compromised_solution_text
      %br
      = action_button(t('.override_password'),
                      password_override_group_person_path(group, person),
                      :lock,
                      method: :post,
                      class: 'btn-danger',
                      data: { confirm: t('.confirm_reset') },
                      title: t('.override_password'))

    %strong.bigger-title
      = @email_compromised_situation_text
    %div.well
      = @email_compromised_solution_text
      - if person.last_sign_in_at? && !person.blocked?
        %br
        = action_button(t('.block_person'),
                        block_group_person_path(group, person),
                        :lock,
                        method: :post,
                        class: 'btn-danger',
                        data: { confirm: t('.confirm_block_person') },
                        title: t('.block_person'))

    %strong.bigger-title
      = @dataleak_situation_text
    %div.well
      = @dataleak_solution_text

    %strong.bigger-title
      = @suspend_person_situation_text
    %div.well
      = @suspend_person_solution_text
      - if person.last_sign_in_at? && !person.blocked?
        %br
        = action_button(t('.block_person'),
                        block_group_person_path(group, person),
                        :lock,
                        method: :post,
                        class: 'btn-danger',
                        data: { confirm: t('.confirm_block_person') },
                        title: t('.block_person'))

    - if person.blocked?
      %strong.bigger-title
        = @blocked_person_situation_text
      %div.well
        = @blocked_person_solution_text
        %br
        - if @blocked_person_interval_text.present?
          = @blocked_person_interval_text
          %br
        = @blocked_person_solution_text
        %br
        = action_button(t('.unblock_person'),
                        unblock_group_person_path(group, person),
                        :"lock-open",
                        method: :post,
                        class: 'btn-danger',
                        data: { confirm: t('.confirm_unblock_person') },
                        title: t('.unblock_person'))


%h2= t('.groups_and_roles_that_see_me')
#roles_that_see_me_placeholder
  = action_button(t('.load_roles_that_see_me'),
                  security_tools_group_person_path(group, person, format: :js),
                  :eye,
                  remote: true, id: :'roles-that-see-me-load-button', data: { method: :get })
  %p= t('.load_roles_that_see_me_hint')

%span#roles-that-see-me-spinner
  = spinner(true)

:javascript
  $(document).on('turbo:load', () => {
    $('#roles-that-see-me-spinner').hide()
    $('#roles-that-see-me-load-button').on('click', (e) => {
      $(e.target).hide()
      $('#roles-that-see-me-spinner').show()
    })
  })
