-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

%td
  %strong= link_to(p.person.to_s(:list), group_event_participation_path(@group, @event, p.id))
  %br/
  = p.person_location_information
  %br/
  .muted
    = t('.registered_at', date: f(p.created_at.to_date))

%td= p.priority(event)
%td= p.confirmation if event.requires_approval?
