%td
  %strong= link_to(p.person.to_s(:list), group_event_participation_path(@group, @event, p.id))
  %br/
  = [p.person.town, p.originating_group].compact.join(', ')
  %br/
  .muted
    Anmeldung am
    = f(p.created_at.to_date)

%td= p.priority(event) if event.priorization?
%td= p.confirmation if event.requires_approval?
