-event_group_sheet
-title event.name

=render 'events/tabs'
= action_button('Teilnehmer hinzufügen', new_event_participation_path(event, for_someone_else: true), :plus)

#main.row-fluid
  %article.span6
    %h2 Zuteilung
    %p{style: 'padding-top: 7px; margin-bottom: 20px;'}
      %span#booking_info= event.booking_info
      verfügbaren Plätzen zugeteilt
    
    %table.table.table-striped.table-hover{style: "width: 550px;"}
      %tbody#participants
        - @participants.each do |p|
          = render 'participant', p: p
    

  %article.span6
    %h2 Anmeldungen
    = render 'prio_buttons'
    
    %table.table.table-striped.table-hover{style: "width: 550px;"}
      %tbody#applications
        - @applications.each do |p|
          = render 'application', p: p
