-#  Copyright (c) 2012-2024, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- contact ||= contactable

%address
  = contactable.address_name
  = contactable.complete_address if postal
  = contact.primary_email
  = contact.all_additional_emails(only_public)
  = contact.all_phone_numbers(only_public)
  = contact.all_additional_addresses(only_public)
  = render_extensions :address_attrs

.social
  = contact.all_social_accounts(only_public)

= render_extensions :additional_attrs
