-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= info_field_set_tag do
  = f.labeled_text_area(:address, rows: 2)
  = f.labeled(:zip_code, t('.zip_town'), nil, class: 'controls-row') do
    = f.string_field(:zip_code, class: 'span2')
    = f.string_field(:town, class: 'span4')
  = f.labeled_input_field(:country)

= field_set_tag do
  = render 'email_field', f: f

= field_set_tag do
  = f.labeled_inline_fields_for :additional_emails, 'contactable/additional_email_fields'

= field_set_tag do
  = f.labeled_inline_fields_for :phone_numbers, 'contactable/phone_number_fields'

= field_set_tag do
  = f.labeled_inline_fields_for :social_accounts, 'contactable/social_account_fields'
