= field_set_tag do
  = f.labeled_text_area(:address, rows: 2)
  = f.labeled(:zip_code, 'PLZ/Ort', nil, class: 'controls-row') do
    = f.string_field(:zip_code, class: 'span2')
    = f.string_field(:town, class: 'span4')
  = f.labeled_input_field(:country)
  
= field_set_tag do
  = f.labeled_input_field :email
  
= field_set_tag do
  = f.labeled_inline_fields_for :phone_numbers, 'contactable/phone_number_fields'
  
= field_set_tag do
  = f.labeled_inline_fields_for :social_accounts, 'contactable/social_account_fields'
