= entry_form(url: group_invoice_list_path(parent)) do |f|
  = f.labeled_input_field :title

  = f.labeled(:invoice_item_article) do
    = select("temp", "invoice_article_id",
      InvoiceArticle.all.pluck(:number, :id),
      { include_blank: true },
      { id: "invoice_item_article" })

  = field_set_tag do
    = f.labeled_inline_fields_for :invoice_items, 'invoice_items'


  = f.labeled_input_field :description

  = render "calculated", calculated: entry.calculated
