- #  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
- #  hitobito and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_youth.

- content_for(:section_header) do
  =t('people_managers.managers_heading')

= render layout: 'people_managers/section' do
  = standard_form(entry, url: person_managers_path(person), html: {class: 'p-2'}) do |f|
    = f.error_messages
    = f.person_field(:manager)
    = render 'submit_buttons', f: f, cancel_url: person_managers_path(person)
