-title event.to_s

= render_extensions(:index)

- if @event.kind.qualification_kinds.to_a.present?
  %p= event.issued_qualifications_info_for_leaders

  = render 'list', entries: @leaders

%p= event.issued_qualifications_info_for_participants

= render 'list', entries: @participants