-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

-title event.to_s

= render_extensions(:index)

- if @event.kind.qualification_kinds('qualification', 'participant').to_a.present?
  %p= event.issued_qualifications_info_for_leaders

  = render 'list', entries: @leaders

%p= event.issued_qualifications_info_for_participants

= render 'list', entries: @participants
