- if @candidates.present?
  - title "Gruppe verschieben"

  %p= "Bitte wählen Sie die Gruppe aus, in die verschoben werden soll."

  = standard_form(:mover, url: perform_move_group_path(group), builder: PlainObjectFormBuilder) do |f|
    - @candidates.each do |label, values|
      = field_set_tag label do
        - values.each do |candidate| 
          = f.inline_radio_button(:group, candidate.id, candidate.to_s, false)


    = save_form_buttons(f, 'Gruppe verschieben', group_path(group))

- else
  - title 'Keine Gruppen verfügbar in die verschoben werden kann'
