/ #  Copyright (c) 2012-2021, CVP Schweiz. This file is part of
/ #  hitobito and licensed under the Affero General Public License version 3
/ #  or later. See the COPYING file at the top-level directory or at
/ #  https://github.com/hitobito/hitobito.

#main.row
  %article.col-lg-5
    - if entry.text_message?
      = render_attrs entry, :text
    - elsif entry.letter? || entry.invoice?
      = render_attrs entry, :subject, :heading, :salutation
    - if entry.letter?
      = render_attrs entry, :body

    %h2=t('.dispatch_infos')
    = render_attrs entry, :state
    - if entry.dispatched?
      = render_attrs entry, :recipient_count
      - if entry.sent_at
        - if entry.letter?
          = render_attrs entry, :sent_at
        - else
          = render_attrs entry, :sent_at, :success_count, :failed_count

  - if entry.invoice?
    %aside.col-lg-5.offset-lg-1
      = render "invoice_aside", invoice: entry.invoice
