-#  Copyright (c) 2026, BdP and DPSG. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= f.label :role_types, class: "col-form-label pb-1 required"
%div{ data: { controller: "role-types" } }
  .role-types-summary{ data: { role_types_target: "summary" } }
  %button.btn.btn-sm.btn-link.px-0.mb-4{ type: :button, data: { bs_toggle: "modal", bs_target: "#role-types-#{f.object.id || "NEW_RECORD"}" } }
    = t(".choose_role_types")

  .modal{ id: "role-types-#{f.object.id || "NEW_RECORD"}", data: { role_types_target: "modal" } }
    .modal-dialog.modal-xl
      .modal-content
        .modal-header
          %h5.modal-title= t(".choose_role_types")
          %button.btn-close{ type: :button, data: { bs_dismiss: "modal" }, aria_label: t("global.button.close") }
        .modal-body
          - Role::TypeList.new(entry.group.class).each do |layer, groups|
            %h3.filter-toggle.mt-4=layer if groups.any?
            - groups.each do |group, role_types|
              .control-group.mt-1
                = label_tag(nil, group, class: 'control-label filter-toggle')
                .controls
                  - role_types.each do |role_type|
                    = label_tag(nil, class: 'checkbox inline') do
                      = f.check_box_tag(f.object_name + "[dynamic_cost_parameters][role_types][]", role_type.sti_name,
                                      f.object.role_types.include?(role_type.sti_name),
                                      data: { role_types_target: "checkbox", role_types_label: role_type.label })
                      = role_type.label
        .modal-footer
          %button.btn.btn-primary{ type: :button, data: { bs_dismiss: "modal" } }= t("global.button.close")
