-#  Copyright (c) 2012-2016, Dachverband Schweizer Jugendparlamente. This file is part of
-#  hitobito_dsj and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_dsj.

- if notes.total_pages > 1
  .pagination
    %ul
      %li{class: notes.first_page? && :disabled}
        = link_to_previous_page notes,
                                "<< #{t('.newer_notes')}",
                                param_name: :notes_page,
                                params: { anchor: 'notes' }
        - if notes.first_page?
          %a= "<< #{t('.newer_notes')}"
      %li{class: notes.last_page? && :disabled}
        = link_to_next_page notes,
                            "#{t('.older_notes')} >>",
                            param_name: :notes_page,
                            params: { anchor: 'notes' }
        - if notes.last_page?
          %a= "#{t('.older_notes')} >>"
