%h2= t('.resend_confirmation_instructions')

= standard_form(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = render "shared/error_messages", errors: resource.errors

  %div.field
    = f.labeled_input_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)

  = f.indented(submit_button(f, t('.submit')))

  = f.indented do
    = render "devise/shared/links"
