- #  Copyright (c) 2018, Pfadibewegung Schweiz. This file is part of
- #  hitobito and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito.

= entry_form(data: { group: group_path(parent) }) do |f|
  = field_set_tag do
    = f.labeled_input_fields :name, :description

  %fieldset
    = f.labeled(model_class.human_attribute_name(:abilities), nil, nil, style: 'display: flex; flex-direction: column;') do
      = f.boolean_field(:people, caption: model_class.human_attribute_name(:people))
      = f.boolean_field(:people_below, caption: model_class.human_attribute_name(:people_below))
      = f.boolean_field(:groups, caption: model_class.human_attribute_name(:groups))
      = f.boolean_field(:events, caption: model_class.human_attribute_name(:events))
      - if parent.layer?
        = f.boolean_field(:invoices, caption: model_class.human_attribute_name(:invoices))
      = f.boolean_field(:event_participations, caption: model_class.human_attribute_name(:event_participations))

      = render_extensions :fields, locals: { f: f }
