-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#main.row
  %article.col-lg
    - title t('mails.show')

    %h2= @mail.subject

    %p UID: #{@mail.uid}
    %p From: #{@mail.sender}

    #main.row-fluid
      %article.span9
        %p= @mail.body

      %aside.span2.offset1
        - @mailboxes.each do |key, value|
          = action_button value, mailbox_move_mail_path(move_to: key), nil, class: "#{'active' if key.to_s == @mail.mailbox}", method: :patch
