-#  Copyright (c) 2026, BdP and DPSG. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

%h3= f.object.class.model_name.human
.mb-2
  = f.input_field :name, placeholder: placeholder(:name, suffix: "*"), class: "mw-md-90ch"
.d-flex.flex-row.gap-2.mb-2
  .input-group.input-group-sm
    = f.input_field :unit_cost, name: f.object_name + "[dynamic_cost_parameters][unit_cost]", value: number_to_currency(f.object.unit_cost, format: "%n", delimiter: ""), placeholder: placeholder(:unit_cost, suffix: "*"), class: "text-end"
    .input-group-text= entry.group.invoice_config.currency
  .input-group.input-group-sm
    = f.input_field :vat_rate, placeholder: placeholder(:vat_rate), class: "text-end mw-md-90ch"
    .input-group-text= "%"
.d-flex.flex-row.gap-2
  = f.input_field :cost_center, placeholder: placeholder(:cost_center), class: "mb-2"
  = f.input_field :account, placeholder: placeholder(:account), class: "mb-2"
