-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

%dl.dl-horizontal
  = labeled_attr(entry, :address)
  = labeled_attr(entry, :email)
  = labeled_attr(entry, :payee)
  = labeled_attr(entry, :due_days)
  = labeled_attr(entry, :payment_information)
  = labeled_attr(entry, :vat_number)

%dl.dl-horizontal
  = labeled_attr(entry, :currency)
  = labeled(captionize(:payment_slip, object_class(entry)), entry.payment_slip_label)
  = labeled_attr(entry, :beneficiary) if entry.bank?
  = labeled_attr(entry, :participant_number) if entry.with_reference?
  = labeled_attr(entry, :participant_number_internal) if entry.with_reference? && entry.bank?
  = labeled_attr(entry, :account_number)
  = labeled_attr(entry, :iban)


%h2= PaymentReminder.model_name.human(count: 2)
= table(entry.payment_reminder_configs, class: 'table table-striped table-hover') do |t|
  - t.col('')  { |c| "#{c.level}. #{PaymentReminder.model_name.human}" }
  - t.attrs(:title, :text, :due_days)

- if PaymentProviderConfig.any?
  %h2= PaymentProviderConfig.model_name.human(count: 2)
  %dl.dl-horizontal
    - entry.payment_provider_configs.each do |provider_config|
      = labeled_attr(provider_config, :payment_provider)
      = labeled_attr(provider_config, :user_identifier)
      = labeled_attr(provider_config, :partner_identifier)
      -if provider_config.pending?
        %dd= action_button(t('activerecord.attributes.payment_provider_config.ini_letter'), ini_letter_group_payment_provider_config_path(@group, provider_config), :eye, { target: :_blank })
