-#  Copyright (c) 2023, Puzzle ITC. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

%ul.nav.nav-tabs.mb-3
  %li.nav-item= link_to(t('.general'), '#general', data: { bs_toggle: 'tab' }, class: 'nav-link active')
  %li.nav-item= link_to(t('.email'), '#email', data: { bs_toggle: 'tab' }, class: 'nav-link')
  %li.nav-item= link_to(PaymentReminder.model_name.human(count: 2), '#reminders', data: { bs_toggle: 'tab' }, class: 'nav-link')
  %li.nav-item= link_to(PaymentProviderConfig.model_name.human(count: 2), '#payment_provider_configs', data: { bs_toggle: 'tab' }, class: 'nav-link')
  %li.nav-item= link_to(t('.layout'), '#layout', data: { bs_toggle: 'tab' }, class: 'nav-link')

  = render_extensions :form_tabs
