= f.labeled_input_field :currency
= f.labeled_input_field :due_days
= f.labeled_input_field :address, rows: 4, help: t('.address_help')
= f.labeled_input_field :payment_information, rows: 2, help: t('.payment_information_help')
= f.labeled_input_field :vat_number

%h3.form-subtitle.mt-5= t('.payment')
-# Show the old payee information as long the new information was not added yet.
-# This logic can be removed as soon as all customers have migrated.
- if entry.payee.present? && [:payee_name, :payee_zip_code, :payee_town].any? { |key| entry.send(key).blank? }
  = f.labeled_input_field :payee, rows: 3, help: t('.deprecated_payee_help'), disabled: true

= f.labeled_input_field :payee_name
= f.labeled(:payee_street, InvoiceConfig.human_attribute_name(:payee_street), class: 'd-flex') do
  %div.col-9
    = f.input_field(:payee_street)
  %div.col-2.offset-1
    = f.input_field(:payee_housenumber, placeholder: 'No')

= f.labeled(:payee_zip_code, t('contactable.fields.zip_town'), class: 'd-flex') do
  %div.col-5.col-md-4.col-lg-3
    = f.input_field(:payee_zip_code, maxlength: 10)
  %div.col-6.col-md-7.col-lg-8.offset-1
    = f.input_field(:payee_town)
= f.labeled(:payee_country) do
  .shown.ms-0
    = f.country_field(:payee_country)

= f.labeled_input_field :iban, help: t('.iban_example')
= f.labeled(:payment_slip) do
  = f.collection_select(:payment_slip, InvoiceConfig.payment_slip_labels.to_a, :first, :second, {}, class: 'form-select form-select-sm')
= f.labeled_input_field :reference_prefix

%h3.form-subtitle.mt-5= t('.variable_donation_appeal')
= f.labeled_input_field :donation_calculation_year_amount, help: t('.donation_calculation_year_amount_explanation')
= f.labeled_input_field :donation_increase_percentage, help: t('.donation_increase_percentage_explanation')
