= f.labeled_input_field :currency
= f.labeled_input_field :due_days
= f.labeled_input_field :address, rows: 4, help: t('.address_help')
= f.labeled_input_field :payment_information, rows: 2, help: t('.payment_information_help')
= f.labeled_input_field :vat_number

-# to be discussed: we could hide the address when it is not a qr payment
%h3.form-subtitle.mt-5= t('.payment')
= f.labeled_input_field :payee_name
= f.labeled(:payee_street, Person.human_attribute_name(:street), class: 'd-flex') do
  %div.col-9
    = f.input_field(:payee_street, data: { provide: 'entity', updater: 'AddressTypeahead.update', url: addresses_query_url })
  %div.col-2.offset-1
    = f.input_field(:payee_housenumber, placeholder: 'No')

= f.labeled(:payee_zip_code, t('contactable.fields.zip_town'), class: 'd-flex') do
  %div.col-5.col-md-4.col-lg-3
    = f.input_field(:payee_zip_code, maxlength: 10)
  %div.col-6.col-md-7.col-lg-8.offset-1
    = f.input_field(:payee_town)
= f.labeled(:payee_country, Person.human_attribute_name(:country)) do
  .shown.ms-0
    = f.country_field(:payee_country)

= f.labeled_input_field :iban, help: t('.iban_example')
= f.labeled(:payment_slip) do
  = f.collection_select(:payment_slip, InvoiceConfig.payment_slip_labels.to_a, :first, :second, {}, class: 'form-select form-select-sm')

= f.labeled_input_field :reference_prefix

%h3.form-subtitle.mt-5= t('.variable_donation_appeal')
= f.labeled_input_field :donation_calculation_year_amount, help: t('.donation_calculation_year_amount_explanation')
= f.labeled_input_field :donation_increase_percentage, help: t('.donation_increase_percentage_explanation')
