-#  Copyright (c) 2023, Puzzle ITC. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= field_set_tag do
  = f.labeled :logo do
    = f.file_field :logo, type: :file, accept: Settings.application.image_upload.content_types.join(','), class: 'mw-100 mw-md-60ch form-control form-control-sm'

  - if upload_exists?(entry, :logo)
    = f.labeled :remove_logo do
      = f.boolean_field :remove_logo
  = f.labeled_i18n_enum_field :logo_position, InvoiceConfig.logo_position_labels.to_a, class: 'form-select form-select-sm'

= render_extensions(:layout_fields, locals: { f: f })
