-#  frozen_string_literal: true
-
-#  Copyright (c) 2024, Schweizer Wanderwege. This file is part of
-#  hitobito_sww and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sww.class MessageTemplate < ApplicationRecord

= f.nested_fields_for :message_templates do |tf|
  = field_set_tag MessageTemplate.model_name.human do
    = tf.labeled_input_field :title
    = tf.labeled_input_field :body, rows: 4
    .controls.align-with-form
      = link_to(ta(:remove), "javascript:void(0)", data: { action: "nested-form#remove" })

    .controls.fields-separation
      %hr
