= field_set_tag "#{PaymentProviderConfig.model_name.human(count: 1)} - #{f.object.payment_provider_label}", style: 'margin-right: 0px' do
  -if !f.object.draft?
    .alert.alert-warning
      = t('.reset_payment_provider_warning')
  = f.hidden_field :id
  = f.hidden_field :payment_provider
  = f.labeled_input_field :user_identifier
  = f.labeled_input_field :partner_identifier
  = f.labeled_password_field :password, value: f.object.password
