-#  Copyright (c) 2020, CVP Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#person-duplicates-ignore.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h5.bold.modal-title
          %b= t('.title')

      = standard_form(@entry, url: ignore_group_person_duplicate_url(@group, @entry), method: :post) do |f|
        .modal-body
          .row-fluid
            = t('.confirm', person: @entry.person_1.to_s)
            %br
            = t('.irreversible')
        .modal-footer
          = submit_button(f, t('person_duplicates.ignore.action'))
          = link_to(ti('button.cancel'), '#',
            class: 'link cancel',
            onclick: "event.preventDefault(); $('#person-duplicates-ignore').modal('hide')")
