-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title t('.title')
- manager = can?(:list_all, Event::Course)

%p= t('.explanation')

- content_for :toolbar do
  - if manager
    = pill_dropdown_button(Dropdown::Event::GroupFilter.new(self, year, group_id))

= render 'shared/page_per_year', paging_params: group_id.to_i > 0 ? { group_id: group_id } : {}

- if can?(:export_list, Event::Course)
  = render 'export_button'


#main
  %section
    = grouped_table(@grouped_events, manager ? 4 : 3) do |event|
      %td
        %strong
          = event.labeled_link
      %td= event.dates_full
      - if manager
        %td= event.booking_info
        %td= event.state_translated
      - else
        %td= button_action_event_apply(event)
