- title('Verfügbare Kurse')

- content_for :toolbar do
  - if can?(:manage_courses, current_user)
    = pill_dropdown_button(group_title, group_link_list)

= render 'shared/page_per_year', paging_params: group_param

#main
  %section
    = grouped_table(@courses_by_kind, can?(:manage_courses, current_user) ? 4 : 3) do |event|
      %td
        %strong
          = event.labeled_link
      %td= event.dates_full
      - if can?(:manage_courses, current_user)
        %td= event.booking_info
        %td= event.state_translated
      - else
        %td= button_action_event_apply(event)
