-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title t('.title')

%p= t('.explanation')

#main
  %section
    = grouped_table(@grouped_events, 4) do |event|
      %td
        %strong
          = event.labeled_link
      %td= event.dates_full
      %td= event.description_short
      %td= button_action_event_apply(event)
