%section
  - entries_by_month.each do |month, events|
    %h2= month 
    %table.table
      - events.each do |event|
        %tr
          %td
            %strong
              = event.labeled_link
          %td= event.dates_full
          %td= event.description_short
          %td= apply_button_if_possible(event)
