- title("Demnächst stattfindende Anlässe")

#main
  %section
    = grouped_table(@events_by_month, 4) do |event|
      %td
        %strong
          = event.labeled_link
      %td= event.dates_full
      %td= event.description_short
      %td= button_action_event_apply(event)
