-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if can?(:edit, entry)
  = button_action_edit

- if can?(:destroy, entry)
  = button_action_destroy(nil, { class: "btn-danger", data: { confirm: t('person.confirm_delete',
                                                              person: entry.person) } })
- if can?(:create_invoice, entry)
  = invoice_button(people: [entry])

= dropdown_people_export(can?(:show_full, entry), false, true, false)

- if entry.email && entry.roles.any?
  = action_button(t('.send_login'),
                  send_password_instructions_group_person_path(parent, entry),
                  :envelope,
                  remote: true,
                  method: :post,
                  rel: :tooltip,
                  'data-container' => 'body',
                  'data-html' => 'true',
                  'data-placement' => 'bottom',
                  title: send_login_tooltip_text)

- if entry == current_user
  - if entry.encrypted_password?
    = action_button t('devise.registrations.edit.change_password'), edit_person_registration_path
  - else
    = action_button t('devise.registrations.edit.set_password'), edit_person_registration_path

- if may_impersonate?(entry, parent)
  = action_button(t('.impersonate_user'),
                  group_person_impersonate_path(parent, entry),
                  nil,
                  method: :post,
                  title: t('.impersonate_user_tooltip'))
