- parent_sheet(GroupSheet.new(self, @group, :group_people_path, :index_people))
- title entry.to_s

- content_for(:toolbar) do
  = action_button 'Passwort ändern', edit_person_registration_path if @person == current_user

=render 'tabs'

#main.row-fluid
  %article.span7
    = render 'contactable/show', contactable: entry, only_public: cannot?(:show_details, entry)
    
    - if entry.additional_information.present?
      %h4 Bemerkungen
      = simple_format(entry.additional_information)

    = render_attrs(entry, :birthday, :gender)
    
    = render_extensions :attrs

  -if can?(:show_details, entry)
    %aside.span5
      = render 'roles'
      = render 'event_aside', title: 'Anmeldungen', collection: @pending_applications
      = render 'event_aside', title: 'Events', collection: @upcoming_events

