-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.


-# BEWARE: This partial is used from different places (e.g. event/register/register).
-#         Make sure not to use relative partial paths here or in any extensions
-#         unless these partials also exist in all folders referencing this file here.

- has_relations ||= PeopleRelation.possible_kinds.any?

= field_set_tag do
  = f.labeled_input_fields :first_name, :last_name
  = f.labeled_input_field(:nickname) if Person::PUBLIC_ATTRS.include?(:nickname)
  = f.labeled_string_field(:company_name,
                           placeholder: I18n.t('global.search.placeholder_company_name'),
                           data: { provide: 'entity',
                                   url: query_company_name_path })
  = f.labeled_input_fields :company

  = render_extensions :name_fields, locals: { f: f }

= render 'contactable/fields', f: f

= field_set_tag do
  = f.labeled(:gender) do
    - (Person::GENDERS + ['']).each do |key|
      = f.inline_radio_button(:gender, key, entry.gender_label(key))

  = f.labeled_string_field(:birthday,
                           value: f.date_value(:birthday),
                           help_inline: t('.format_birthday'),
                           class: 'span2')

= render_extensions :fields, locals: { f: f }

- if has_relations && PeopleRelation.possible_kinds.present?
  = field_set_tag do
    = f.labeled_inline_fields_for :relations_to_tails,
                                  'people_relation_fields',
                                  entry.relations_to_tails.includes(:tail)

= field_set_tag do
  = f.labeled_input_field(:additional_information, help: t('.no_sensitive_information'))
