-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= field_set_tag do
  = f.labeled_input_fields :first_name, :last_name, :nickname, :company_name, :company

  = render_extensions :name_fields, locals: { f: f }

= render 'contactable/fields', f: f

= field_set_tag do
  = f.labeled(:gender) do
    - [:m, :w, ''].each do |key|
      = f.inline_radio_button(:gender, key, gender_label(key))

  = f.labeled_string_field(:birthday,
                           value: f.date_value(:birthday),
                           help_inline: '(dd.mm.yyyy)',
                           class: 'span2')

= render_extensions :fields, locals: { f: f }

= field_set_tag do
  = f.labeled_input_fields(:additional_information)