- parent_sheet(GroupSheet.new(self, @group, :group_people_path, :index_people))

= entry_form do |f|
  - if entry.new_record?
    = hidden_field_tag('role[group_id]', params[:role][:group_id])
    = hidden_field_tag('role[type]', params[:role][:type])
  
  = field_set_tag do
    = f.labeled_input_fields :first_name, :last_name, :nickname, :company_name, :company
  
  = render 'contactable/fields', f: f
  
  = render_extensions :fields, locals: { f: f }
