- @sheets = GroupSheet.new(self, @group)
= render 'groups/tabs'

- content_for :toolbar do
  = action_button 'Person hinzufügen', new_group_person_path(@group), :plus

  = button_group do
    = action_button 'List importieren', '#', :download
    = action_button 'Export', '#', :upload
      
  = action_button 'Drucken', '#', :print

  = button_group do
    %a.btn.dropdown-toggle{"data-toggle" => "dropdown"}
      Alle anzeigen
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:href => "#"} Action
      %li
        %a{:href => "#"} Another action
      %li
        %a{:href => "#"} Something else here
      %li.divider
      %li
        %a{:href => "#"} Separated link

= crud_table do |t|
  - t.col('Name')    {|p| link_to_if(true || can?(:show,p), p.to_s, group_person_path(@group, p)) }
  - t.col('Rolle')   {|p| render_roles(p) }
  - t.attr :email
  - t.col('Telefon') {|p| render_phone_numbers(p) }
  - t.col('Adresse') {|p| render_address(p) }
