- @sheets = GroupSheet.new(self, @group, :group_people_path)

= render 'groups/tabs'

- content_for :toolbar do
  = dropdown_button('Person hinzfügen', @group.possible_role_links(@external), :plus) if can?(:new, @group.roles.new)

  = button_group do
    = action_button('List importieren', '#', :download)
    = action_button('Export', '#', :upload)
      
  = action_button('Drucken', '#', :print)

= crud_table do |t|
  -# Any person listed can be shown
  - t.col('Name')    {|p| link_to(p.to_s, group_person_path(@group, p)) }
  - t.col('Rolle')   {|p| render_roles(p, @group) }
  - t.attr :email
  - t.col('Telefon') {|p| render_phone_numbers(p) }
  - t.col('Adresse') {|p| render_address(p) }
  - t.col('Social')  {|p| render_social_accounts(p) }

