-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title @group.to_s

- content_for(:filter, FilterNavigation::People.new(self, @group, params[:name], params[:role_type_ids], params[:kind]))

= paginate @people

= crud_table do |t|
  - t.col('') do |p|
    .profil= image_tag(p.picture.thumb.url, size: '32x32')
  - t.col('Name') do |p|
    %strong
      -# Any person listed can be shown
      = link_to(p.to_s(:list), @multiple_groups ? group_person_path(p.default_group_id, p) : group_person_path(@group, p))
      %br/
      = muted p.additional_name
  - t.col('Rolle')   {|p| p.roles_short(@multiple_groups ? nil : @group) }
  - t.col('E-Mail')  {|p| p.primary_email }
  - t.col('Telefon') {|p| p.all_phone_numbers(!index_full_ability?) }
  - t.col('Adresse') {|p| p.complete_address }

= paginate @people
