.d-none
  .multiselect
    .count
    = ti('selected')
    .actions
      = Dropdown::RoleMultiselectActions.new(self, @group, translate('.role_actions.button'), params)

      = Dropdown::ParticipationLists.new(self, @group, translate('.add_participation'))

      = action_button(translate('.add_to_mailing_list'),
        new_group_subscriber_list_path(@group),
        :plus,
        data: { checkable: true, method: :get },
        remote: true)

      = Dropdown::TagLists.new(self, @group, translate('.tag_lists'))
