.hidden
  .multiselect
    .count
    = ti('selected')
    .actions
      = action_button(translate('.add_role'),
        new_group_role_list_path(@group),
        :plus,
        data: { checkable: true, method: :get },
        remote: true)

      = Dropdown::RoleList.new(self, @group, :move, 'arrow-right')

      = action_button(translate('.remove_role'),
        deletable_group_role_list_path(@group),
        :trash,
        data: { checkable: true, method: :get },
        remote: true)

      = action_button(translate('.add_participation'),
        group_events_path(@group),
        :plus,
        data: { checkable: true, method: :get },
        remote: true)

#multiselect-modal
