-#  Copyright (c) 2012-2016, Dachverband Schweizer Jugendparlamente. This file is part of
-#  hitobito_dsj and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_dsj.

%h2#person-notes= Person::Note.model_name.human(count: 2)

- if can?(:create, Person::Note)
  %button#person-notes-new-button.btn.person-notes-swap{ data: { swap: 'person-notes-swap' } }= t('.new_note')

  #person-notes-form.person-notes-swap{ style: 'display: none;', data: { swap: 'person-notes-swap' } }
    %h3= t('.new_note')

    #person-notes-error.alert.alert-error{ style: 'display: none;' }

    = form_for(Person::Note.new, url: group_person_notes_path(@group, entry), remote: true) do |f|
      = f.text_area(:text, rows: 7, width: '100%')
      = save_form_buttons(f, nil, '')

= render 'person/notes/list',
         notes: entry.notes.includes(:author).page(params[:notes_page]).per(10),
         show_person: false
