-#  Copyright (c) 2012-2016, Dachverband Schweizer Jugendparlamente. This file is part of
-#  hitobito_dsj and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_dsj.

.pagination-bar
  = paginate notes, param_name: :notes_page, params: { anchor: 'person-notes' }

  .pagination-info
    - if notes.total_count == 0
      = ti(:no_list_entries)

- if notes.total_count > 0
  - notes.each do |note|
    .row-fluid.person-note-item
      .span4
        %h4
          = !show_person ? person_link(note.author) : note.author
          - if show_person
            = t('.wrote_about')
            = person_link(note.person)
          = t('.created', time_ago: time_ago_in_words(note.created_at))
      .span8.person-note-text
        = simple_format(note.text)

= paginate notes, param_name: :notes_page, params: { anchor: 'person-notes' }
