-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= field_set_tag do
  = f.labeled :picture do
    = f.file_field :picture, type: :file, accept: Person::PictureUploader.accept_extensions

  - if upload_exists?(entry, :picture)
    = f.labeled :remove_picture do
      = f.boolean_field :remove_picture
