- if policy_finder.acceptance_needed?
  = field_set_tag(nil, class: 'privacy-policy-fields') do
    = f.labeled(:privacy_policy_accepted, '&nbsp;'.html_safe) do
      - for_someone_else ||= false
      - caption_key = for_someone_else ? 'for_someone_else' : 'for_self'
      = f.boolean_field(:privacy_policy_accepted, caption: t(".acceptance_caption.#{caption_key}"), required: true)
      .privacy-policies
        - policy_finder.groups.each do |group|
          = link_to(safe_join([icon('file-alt'), ' ', group.privacy_policy_title]), upload_url(group, :privacy_policy), target: :blank)
