-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if grouped_roles.present?
  %section.roles
    %h2= title

    %table.table.table-basic
      %tbody
        - grouped_roles.each do |group, roles|
          %tr
            %td
              - if can?(:primary_group, entry)
                = link_to(icon(entry.primary_group_id == group.id ? 'star' : 'star-empty'),
                          primary_group_group_person_path(@group, entry, primary_group_id: group.id),
                          title: t('.set_main_group'),
                          alt: t('.set_main_group'),
                          class: "group-#{group.id}",
                          data: {method: :put, remote: true})

            %td
              %strong= GroupDecorator.new(group).link_with_layer
              %br/
              %table.roles
                %tbody
                  - roles.each_with_index do |role, index|
                    %tr
                      %td
                        %strong
                          = role.to_s
                      %td= link_action_edit(edit_group_role_path(role.group, role)) if can?(:edit, role)
                      %td= link_action_destroy(group_role_path(role.group, role)) if can?(:destroy, role)

            %td
              - if can?(:new, group.roles.new)
                %span.pull-right
                  = action_button(t('global.associations.add_with_model', model: Role.model_name.human),
                                  new_group_role_path(group,
                                                      role: { person_id: entry.id },
                                                      return_url: group_person_path(group.id, entry.id)),
                                  :plus,
                                  class: 'btn btn-small')

