- if grouped_roles.present?
  %section.roles
    %h2= title

    %table.table.table-basic.roles
      %tbody
        - grouped_roles.each do |group,roles|
          %tr.group
            %td
              - if can?(:primary_group, entry)
                - group_id = roles.first.group_id
                = link_to(icon(entry.primary_group_id == group_id ? 'star' : 'star-empty'),
                          primary_group_group_person_path(@group, entry, primary_group_id: group_id),
                          title: 'Hauptgruppe setzen',
                          alt: 'Hauptgruppe setzen',
                          class: "group-#{group_id}",
                          data: {method: :put, remote: true})
            %td
              %strong= link_to(group, group)

            %td.pull-right
              - if can?(:new, group.roles.new)
                = Dropdown::RoleAddMini.new(self, group, entry)

          - roles.each_with_index do |role, index|
            %tr.role
              %td
              %td.muted
                %strong
                  = role.to_s
              %td
                = link_action_edit(edit_group_role_path(role.group, role)) if can?(:edit, role)
                = link_action_destroy(group_role_path(role.group, role)) if can?(:destroy, role)
