-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

%h2= Role.model_name.human(count: 2)

= table(@roles, class: 'table table-striped') do |t|
  - t.attr(:group_id, Group.model_name.human)
  - t.col(Role.model_name.human) do |r|
    = r.to_s
  - t.attr(:created_at, t('global.from'))
  - t.attr(:deleted_at, t('global.until'))
  - render_extensions :history_columns, locals: { t: t }

%events
  = render(layout: 'shared/grouped_table',
           locals: {grouped_lists: @participations_by_event_type,
                    column_count: 3}) do |participation|
    %td
      %strong= participation.event.labeled_link
    %td= participation.list_roles
    %td= participation.event.dates_full
