- parent_sheet(GroupSheet.new(self, @group, :group_people_path, :index_people))
- title(entry.to_s)

= render 'tabs'

%h2 Rollen

= table(@roles, class: 'table table-striped') do |t|
  - t.attr(:group_id, 'Gruppe')
  - t.col('Rolle') do |r| 
    = r.to_s
  - t.attr(:created_at, 'Von')
  - t.attr(:deleted_at, 'Bis')

%events
  = grouped_table(@participations_by_event_type, 3) do |participation|
    %td
      %strong
        = participation.event.labeled_link
    %td.muted
      = participation.list_roles
    %td= participation.event.dates_full
