-#  Copyright (c) 2014, Pfadibewegung Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.


= paginate @versions

- if @versions.present?
  - @versions.group_by(&:created_at).each do |created_at, versions|
    .row.log-item
      .span4
        %h4
          = versions.first.header
      .log-infos.span8
        - versions.each do |v|
          = v.changes

- else
  %div= t('.no_changes')

= paginate @versions