- title(entry)

- content_for(:toolbar) do
  = render 'actions_show'

=render 'tabs'
#main.row-fluid
  #article.span7
    %b= entry.full_name
    = render 'contactable/show'
    - if entry.additional_information.present?
      %h2 Bemerkungen
      %p= entry.additional_information

    = render_extensions :attrs

  #aside.span5
    %section.group_children
      %h2 
        Aktive Rollen
      = table(entry.roles) do |t|
        - t.col('') do |c|
          - role_group_info(c)

        - t.col('') do |c|
          - link_action_destroy(group_role_path(c.group, c))

