- title(entry)

- content_for(:toolbar) do
  = render 'actions_show'

=render 'tabs'
#main.row-fluid
  #article.span7
    = render 'contactable/show'
    - if entry.additional_information.present?
      %h2 Bemerkungen
      %p= entry.additional_information

    = render_attrs(entry, :birthday, :gender)
    = render_extensions :attrs

  #aside.span5
    %section.group_children
      %h2 
        Aktive Rollen
      = table(entry.roles) do |t|
        - t.col('') do |c|
<<<<<<< Updated upstream
          - role_group_info(c)

=======
          - group_role_info(c)

        - t.col('') do |c|
          - person_remove_link(c) if can?(:destroy, c)

  #aside.span5
    %section.group_children
      %h2 
        Gelöschte Rollen
      = table(entry.roles.with_deleted) do |t|
>>>>>>> Stashed changes
        - t.col('') do |c|
          - link_action_destroy(group_role_path(c.group, c))

