- title(entry)

- content_for(:toolbar) do
  = render 'actions_show'

#main.row-fluid
  #article.span7
    %b= entry.full_name
    = render 'contactable/show'
    - if entry.additional_information.present?
      %h2 Bemerkungen
      %p= entry.additional_information

    = render_extensions :attrs

  #aside.span5
    %section.group_children
      %h2 
        Aktive Rollen
      = table(entry.roles) do |t|
        - t.col('') do |c|
          - html = c.group.to_s.html_safe
          - html << ' '
          - html << muted(c.class.model_name.human)
          - html << ' '.html_safe
          - html << person_remove_link(c)
          - html

  #aside.span5
    %section.group_children
      %h2 
        Gelöschte Rollen
      = table(entry.roles.only_deleted) do |t|
        - t.col('') do |c|
          - html = c.group.to_s.html_safe
          - html << ' '
          - html << muted(c.class.model_name.human)
          - html << ' '.html_safe
          - html << "von #{l(c.created_at, format: :short)} bis #{l(c.deleted_at, format: :short)}"
          - html
