- title(entry)

- content_for(:toolbar) do
  = render 'actions_show'

=render 'tabs'
#main.row-fluid
  #article.span7
    = render 'contactable/show'
    - if entry.additional_information.present?
      %h2 Bemerkungen
      %p= entry.additional_information

    = render_attrs(entry, :birthday, :gender)
    = render_extensions :attrs

  #aside.span5
    %section.group_children
      %h2 
        Aktive Rollen
      = table(entry.roles) do |t|
        - t.col('') do |role|
          - role_group_info(role) 

        - t.col('') do |role|
          - link_action_destroy(group_role_path(role.group, role)) if can?(:destroy, role)

