-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.


- if entries.present?
  = invoice_sending_dropdown
  = action_button ti('link.delete'), group_invoice_list_path(group, invoice_list_id: invoice_list&.id), :'trash-alt', method: :delete, data: { checkable: true }
  = invoices_export_dropdown
  = invoices_print_dropdown

  - unless @invoice_list || !parent.invoice_config.valid?
    = action_button(t('invoices.add_payments'), new_group_payment_process_path(parent), :plus)

- unless @invoice_list || !parent.invoice_config.valid?
  = action_button(t('invoices.add'), new_group_invoice_path(parent), :plus)
