= content_for(:filter) do
  = form_tag(nil, { method: :get, class: 'form-inline-search', role: 'search', remote: true, data: { spin: true } }) do
    = hidden_field_tag :returning, true
    = hidden_field_tag :page, 1

    .control-group.has-feedback.has-clear
      = label_tag(:q, t('global.button.search'), class: 'control-label')
      = search_field_tag :q, params[:q], class: 'form-control', placeholder: t('global.button.search'), data: { submit: true }
      %span.form-control-feedback{data: { clear: true }}
        = icon(:remove)

    = direct_filter_select(:state, Invoice.state_labels.to_a, nil)

    - if params[:state].blank? || params[:state] == 'reminded'
      = direct_filter_select(:due_since, invoice_due_since_options, t('.due_since'))

  .pull-right
    = render 'shared/page_per_year'
- params[:q] = nil # Reset param so quicksearch filter does not get populated
