= content_for(:filter) do
  = form_tag(nil, { method: :get, class: 'form-inline-search invoices-filter', role: 'search', remote: true, data: { spin: true } }) do |f|
    = hidden_field_tag :returning, true
    = hidden_field_tag :page, 1

    .d-lg-flex.justify-content-between
      .d-lg-inline-flex.gap-3.me-4
        .mb-3
          = direct_filter_search
        .mb-3
          = direct_filter_select(:state, Invoice.state_labels.to_a, nil)
        .mb-3
          = direct_filter_select(:due_since, invoice_due_since_options, t('.due_since'))
      .d-lg-inline-flex.gap-3
        .mb-3
          = direct_filter_date(:from, t('.from'), value: params[:from] || "1.1.#{@year_from || Time.zone.today.year}")
        .mb-3
          = direct_filter_date(:to, t('.to'), value: params[:to] || "31.12.#{Time.zone.today.year}")

- params[:q] = nil # Reset param so quicksearch filter does not get populated
