-#  Copyright (c) 2012-2020, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= entry_form(data: { group: group_path(parent) }) do |f|
  = f.hidden_field :recipient_id

  = field_set_tag do
    = f.labeled_input_fields :title, :description, rows: 3
    = f.labeled_input_field :issued_at
    = f.labeled_input_field :due_at
    = f.labeled_input_field :hide_total

  = field_set_tag do
    = f.labeled_input_field :recipient_email
    = f.labeled_input_field :recipient_address, rows: 4

  = f.labeled_input_field :payment_information, rows: 2
  - if parent.invoice_config.with_reference? || entry.qr?
    = f.labeled_input_field :payment_purpose, rows: 2

  = render_extensions :form, locals: { f: f }

  = field_set_tag do
    = render "invoice_lists/invoice_articles", f: f, group: parent

  = field_set_tag do
    = f.labeled_inline_fields_for :invoice_items, 'invoice_lists/invoice_items'

  = render "invoice_lists/calculated", invoice: entry.decorate
