-#  Copyright (c) 2012-2020, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= entry_form(data: { group: group_path(parent) }, class: 'form') do |f|
  = f.hidden_field :recipient_id

  = field_set_tag do
    = render "message_template", f: f, group: parent
    = f.labeled_input_field :title, data: { message_template_target: :title }
    = f.labeled_input_field :description, rows: 3, data: { message_template_target: :body }

  = field_set_tag do
    = f.labeled_input_field :due_at
    = f.labeled_input_field :issued_at

  = field_set_tag nil, class: 'invoice-form-recipient-fields' do
    .row
      %h3.form-subtitle.col-md-3.col-xl-2.mt-2.mb-3= Invoice.human_attribute_name(:recipient)

    = f.labeled_input_field :recipient_email

    = f.labeled_input_field :recipient_company_name
    = f.labeled_input_field :recipient_name
    = f.labeled_input_field(:recipient_address_care_of, autocomplete: :off)
    = f.labeled(:street, Person.human_attribute_name(:address), class: 'd-flex', mark_as_required: true) do
      %div.col-9
        = f.input_field(:recipient_street, data: { provide: 'entity', updater: 'AddressTypeahead.update', url: addresses_query_url })
      %div.col-2.offset-1
        = f.input_field(:recipient_housenumber, placeholder: 'No')
    = f.labeled_input_field(:recipient_postbox, autocomplete: :off)

    = f.labeled(:zip_code, t('contactable.fields.zip_town'), class: 'd-flex', mark_as_required: true) do
      %div.col-5.col-md-4.col-lg-3
        = f.input_field(:recipient_zip_code, maxlength: 10)
      %div.col-6.col-md-7.col-lg-8.offset-1
        = f.input_field(:recipient_town)
    = f.labeled(:recipient_country) do
      .shown.ms-0
        = f.country_field :recipient_country

  = f.labeled_input_field :payment_information, rows: 2
  - if entry.qr?
    = f.labeled_input_field :payment_purpose, rows: 2

  = render_extensions :form, locals: { f: f }

  = field_set_tag do
    = render "invoice_runs/invoice_articles", f: f, group: parents.first

  = field_set_tag do
    = f.labeled_inline_fields_for :invoice_items, 'invoice_runs/invoice_items', class: 'd-flex'

  = field_set_tag do
    = f.labeled_boolean_field :hide_total

  = render "invoices/recalculate/calculated", invoice: entry.decorate
