-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= form_tag group_invoice_list_path(parent), data: { checkable: true } do
  - if parent.invoices.draft.exists?
    = button_tag 'Rechnung stellen', class: 'btn', data: { method: :put }

  - if parent.invoices.list.exists?
    = button_tag class: 'btn', data: { method: :delete } do
      - safe_join([icon('trash'), ti('link.delete')], ' ')

  = invoices_dropdown
  = action_button(t('invoices.add'), new_polymorphic_path([parent, :invoice]))

  %br
  %br

  = render "filter"
  .pagination-bar
    = paginate @invoices


  = crud_table(data: { checkable: true }) do |t|
    - t.col(check_box_tag(:all, 0, false, { data: :multiselect })) do |i|
      - check_box_tag('ids[]', i.id, false, data: { multiselect: true })
    - t.col(t.sort_header(:title)) do |invoice|
      %strong= link_to invoice.title, group_invoice_path(parent, invoice)
    - t.sortable_attrs(:sequence_number, :state, :recipient, :sent_at, :due_at, :total)

= paginate @invoices
