
-#  Copyright (c) 2025, Schweizer Wanderwege. This file is part of
-#  hitobito_sww and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito

%template#multiselectActions
  %th.multiselect(colspan="10")
    %span
      .count
      = ti('selected')
    = extended_all_checkbox(@invoices)
    .actions
      = invoice_sending_dropdown
      = action_button(t('invoices.cancel'), group_invoice_run_path(group, invoice_run_id: invoice_run&.id), :'trash-alt', 'data-method': :delete, data: { checkable: true })
      = invoices_print_dropdown

