-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- current_user.finance_groups.each do |group|
  - parent_group = parent.is_a?(InvoiceList) ? parent.group : group
  - if group == parent_group
    .divider
      = group
      = link_to icon('link'), group, class: 'inline'
    %ul
      = nav Invoice.model_name.human(count: 2), group_invoices_path(group), %w(invoices)
      = nav InvoiceList.model_name.human(count: 2), group_invoice_lists_path(group), %w(invoice_lists)
      = nav InvoiceArticle.model_name.human(count: 2), group_invoice_articles_path(group), %w(invoice_articles)
      = nav t('navigation.admin'), group_invoice_config_path(group), %w(invoice_config)
  - else
    = nav(group, group_invoices_path(group))
