-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

%nav.nav-left-list
  %inner
    %h3.nav-left-title.active= link_to(parent, group_invoices_path(parent))
    %ul.nav-left-list
      %li= link_to(InvoiceArticle.model_name.human(count: 2), group_invoice_articles_path(parent))
      %li= link_to(t('navigation.admin'), group_invoice_config_path(parent))


    %ul.nav-left-list
    - (current_user.finance_groups - [parent]).each do |group|
      - attrs = { class: 'active' } if current_page?(group_invoices_path(group))
      = content_tag(:li, link_to(group, group_invoices_path(group)), attrs)
      %li= link_to(InvoiceArticle.model_name.human(count: 2), group_invoice_articles_path(parent))
      %li= link_to(t('navigation.admin'), group_invoice_config_path(parent))
