- state = 'in' unless @reminder_valid

#payment_reminder{class: %W(collapse #{state}).compact.join(' ')}
  = standard_form(@reminder, url: url, data: { checkable: true }) do |f|
    = f.hidden_field :ids, data: { checkable: true }
    = f.error_messages
    = f.labeled_input_field :due_at unless entry.new_record?
    = f.labeled_input_field :message
    = form_buttons(f, submit_label: nil, cancel_url: entry.persisted? ? group_invoice_path(parent, cancel_url: entry) : group_invoices_path(parent))
