- state = 'in' unless @payment_valid
#payment{class: %W(collapse #{state}).compact.join(' ')}
  = standard_form(@payment, url: group_invoice_payments_path(parent, entry)) do |f|
    = f.error_messages
    = f.labeled_input_fields :amount, :received_at
    = form_buttons(f, submit_label: nil, cancel_url: group_invoice_path(parent, cancel_url: entry))

