= render_attrs(entry, :name, :uid, :secret, :redirect_uri)

%dl.dl-horizontal
  %dt.muted Authorization URI
  %dd= oauth_authorization_url(locale: nil)
  %dt.muted Obtain Token URI
  %dd= oauth_token_url(locale: nil)
  %dt.muted Token Info URI
  %dd= oauth_token_info_url(locale: nil)

= render 'access_tokens', list: entry.access_tokens.includes(:person).list

- entry.redirect_uri.to_s.split.each do |uri|
  = render 'access_grants', uri: uri, list: entry.access_grants.includes(:person).for(uri).active.list
