= render_attrs(entry, :name, :uid, :secret, :redirect_uri, :scopes, :cors_origins)

%dl.dl-horizontal
  %dt.muted Application Logo
  %dd
    = image_tag(upload_variant(entry, :logo, :thumb), size: '64x64')

%dl.dl-horizontal
  %dt.muted Authorization Endpoint
  %dd
    %div= oauth_authorization_url(locale: nil)
    %div= oauth_spec_link('section-3.1')
    %div= oauth_spec_link('section-4.1.1')

%dl.dl-horizontal
  %dt.muted Token Endpoint
  %dd
    %div= oauth_token_url(locale: nil)
    %div= oauth_spec_link('section-3.2')
    %div= oauth_spec_link('section-4.1.3')

%dl.dl-horizontal
  %dt.muted Profile Endpoint
  %dd
    %div= oauth_profile_url
    .well
      %p= t('.profile_endpoint_help')
      %code= t('.profile_endpoint_example', url: oauth_profile_url)
