= entry_form do |f|
  = f.labeled_input_field :name

  = f.labeled_text_area :redirect_uri, rows: 5,
    help: raw(t('.help_native_redirect_uris', native_redirect_uri: Doorkeeper.configuration.native_redirect_uri))

  = f.labeled :scopes do
    - Doorkeeper.configuration.scopes.each do |scope|
      = f.label("scope_#{scope}", class: 'checkbox') do
        = check_box_tag("oauth_application[scopes][]",
                        scope,
                        entry.scopes.include?(scope),
                        { id: "oauth_application_scope_#{scope}" })
        = format_doorkeeper_application_scope(scope).html_safe

  = field_set_tag do
    = f.labeled :logo do
      = f.file_field :logo, type: :file, accept: Oauth::LogoUploader.accept_extensions

    - if upload_exists?(entry, :logo)
      = f.labeled :remove_logo do
        = f.boolean_field :remove_logo

  = f.labeled_inline_fields_for :cors_origins do |nested_f|
    - nested_f.input_field(:origin, placeholder: 'https://example.org')
  = f.indented do
    = f.help_block(t('.help_cors_origins'))
