-#  Copyright (c) 2012-2022, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title entry.to_s

#main{data: { turbo: 'false' }}
  .row
    %article.col-lg-7
      = render 'attrs_primary'

      = render 'events/attachments'

      = render_extensions 'show_left'

    %aside.col-lg-5
      = render 'events/attrs_contact'

      - if render_application_attrs?
        = render 'events/attrs_application'

      = render_extensions 'show_right'

  %h1
    = t('event.register.index.sign_in')

  = render 'devise/sessions/info'

  .row
    %article.col-lg-7
      %h3= t('event.register.index.login')
      = render 'devise/sessions/form', autofocus_login: false

    %article.col-lg-5
      %h3= t('event.register.index.no_login')
      = render 'event/register/email_check'
