- parent_sheet(EntrySheet.new(self, @event, [:group_event_participations_path, @group]))
- parent_sheet(GroupSheet.new(self, @group))

= entry_form(buttons_bottom: false,
             cancel_url: (entry.new_record? ? group_event_participations_path(@group, @event) : group_event_participation_path(@group, @event, entry.participation_id))) do |f|
  - if entry.new_record?
    = f.hidden_field :type
    = f.labeled_person_field :person
  - else
    = f.labeled(:event_id, content_tag(:div, entry.event.to_s))
    = f.labeled(:person_id, content_tag(:div, entry.person.to_s))
    
  = f.labeled_input_field(:label, data: {provide: :typeahead, source: entry.class.available_labels})
