= form_for(:filter, html: { class: 'form-inline', id: 'course-filter' }, url: list_courses_path, method: :get) do |f|
  .control-group.d-flex.align-items-start
    .input-prepend{style: 'margin-right: 0.5rem'}
      %span.add-on= icon(:'calendar-alt')
      = f.text_field(:since, value: since_date, class: 'date span2')

    .input-prepend{style: 'margin-right: 0.5rem'}
      %span.add-on= icon(:'calendar-alt')
      = f.text_field(:until, value: until_date, class: 'date span2')

    - if course_states_used?
      .input-prepend{style: 'margin-right: 0.5rem'}
        %span.add-on= Event::Course.human_attribute_name(:state)
        = f.select(:state, course_state_collection, prompt: true)

    .input-prepend{style: 'margin-right: 0.5rem'}
      %span.add-on= Event::Application.model_name.human
      = f.select(:places_available, [['Alle', 0], ['nur mit verfügbaren Plätzen', 1]], prompt: true)

    = hidden_filter_inputs(f, except: [:filter])

    = submit_button(f, safe_join([icon(:search), ' ', t('global.button.search')]), name: nil)
