= form_for(:filter, html: { class: 'form-inline-search', id: 'course-filter' }, url: list_courses_path, method: :get) do |f|
  .control-group
    = f.label :since, t('.time_period'), class: 'control-label'
    .input-prepend{style: 'margin: 0 0.5rem 0.5rem 0'}
      %span.add-on= icon(:'calendar-alt')
      = f.text_field(:since, value: since_date, class: 'date span2', style: 'margin-bottom: 0 !important')

  .control-group
    = f.label :until, t('.until'), style: 'display: inline-block; margin-right: 0.4rem; vertical-align: middle'
    .input-prepend{style: 'margin: 0 0.5rem 0.5rem 0'}
      %span.add-on= icon(:'calendar-alt')
      = f.text_field(:until, value: until_date, class: 'date span2', style: 'margin-bottom: 0 !important')

  - if course_states_used?
    .control-group
      = f.label :state, Event::Course.human_attribute_name(:state), class: 'control-label'
      %div{style: 'margin: 0 0.5rem 0.5rem 0; display: inline-block; vertical-align: middle'}
        = f.select(:state, course_state_collection, { selected: @state, prompt: true }, { class: 'span2 control-group', style: 'margin-bottom: 0 !important' })

  .control-group
    = f.label :places_available, Event::Application.model_name.human
    %div{style: 'margin: 0 0.5rem 0.5rem 0; display: inline-block; vertical-align: middle'}
      = f.select(:places_available, [['Alle', 0], ['nur mit verfügbaren Plätzen', 1]], { selected: @places_available }, { style: 'margin-bottom: 0 !important' })

    - if @kind_category_id.present?
      = f.hidden_field :category, value: @kind_category_id

  = render partial: 'group_filter', locals: { f: f }

  .control-group
    = submit_button(f, safe_join([icon(:search), ' ', t('global.button.search')]), name: nil)
