= form_for(:filter, html: { class: 'form-inline', id: 'course-filter' }, url: list_courses_path, method: :get) do |f|
  .control-group
    .input-prepend{style: 'margin-right: 0.5rem'}
      %span.add-on= icon(:'calendar-alt')
      = f.text_field(:since, value: since_date, class: 'date span2')

    .input-prepend{style: 'margin-right: 0.5rem'}
      %span.add-on= icon(:'calendar-alt')
      = f.text_field(:until, value: until_date, class: 'date span2')

    - if course_states_used?
      .input-prepend{style: 'margin-right: 0.5rem'}
        %span.add-on= Event::Course.human_attribute_name(:state)
        = f.select(:state, course_state_collection, { prompt: true }, { class: 'span2' })

    .input-prepend{style: 'margin-right: 0.5rem'}
      %span.add-on= Event::Application.model_name.human
      = f.select(:places_available, [['Alle', 0], ['nur mit verfügbaren Plätzen', 1]], {}, { class: 'span2' })

    - if @kind_category_id.present?
      = f.hidden_field :category, value: @kind_category_id

  %div
    .control-group
      .shown
        = f.label(:group_ids, t('.filter_by_layer'), class: 'control-label')
        = f.select(:group_ids,
                 options_from_collection_for_select(course_group_collection, :second, :first, @group_ids),
                 {},
                 { class: 'chosen-select',
                   multiple: true,
                   data: { chosen_no_results: t('global.chosen_no_results'),
                           placeholder: t('.select_layers') } })


  .control-group
    = submit_button(f, safe_join([icon(:search), ' ', t('global.button.search')]), name: nil)
