= form_for(:filter, html: { class: 'form-inline', id: 'date-filter' }, url: list_courses_path, method: :get) do |f|
  .control-group.d-flex.align-items-start
    .input-prepend{style: 'margin-right: 0.5rem'}
      %span.add-on= icon(:'calendar-alt')
      = f.text_field(:since, value: since_date, class: 'date span2')

    .input-prepend.mr-2{style: 'margin-right: 0.5rem'}
      %span.add-on= icon(:'calendar-alt')
      = f.text_field(:until, value: until_date, class: 'date span2')

    = hidden_filter_inputs(f, except: [:filter])

    = submit_button(f, safe_join([icon(:search), ' ', t('global.button.search')]), name: nil)
