-#  Copyright (c) 2025, Hitobito AG. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- ctrl = 'events--courses--group-filter'
= form.fields_for(:groups) do |f|
  .course-group-filter.mt-1
    = f.label(:ids, t(".filter_by_layer"), class: "control-label")
    .control-group
      .controls{data: { controller: ctrl, "#{ctrl}-tom-select-outlet": '#group-filter-select' } }
        .select.shown
          = f.select(:ids,
                  options_from_collection_for_select(course_groups, :id, :name, @filter.chain.dig(:groups, :ids)),
                  {},
                  { id: "group-filter-select",
                    class: "form-select form-select-sm w-100",
                    multiple: true,
                    data: { chosen_no_results: t("global.chosen_no_results"),
                            placeholder: t(".select_layers"),
                            controller: "tom-select",
                            action: "#{ctrl}#change" } })

        .group-filter-quick-add-tags
          %button.chip.chip-add.group-filter-clear{type: :button, data: {action: "#{ctrl}#clear", "#{ctrl}-target": "clear" } }
            = t(".all_layers")
            = icon(:times, data: { ignore_form_busy: true})
          - quick_select_course_groups.each do |group|
            %button.chip.chip-add.group-filter-add{type: :button, data: {action: "#{ctrl}#add", "#{ctrl}-id-param": group.id, "#{ctrl}-target": :chip } }
              = group.name
              = icon(:plus)
