-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title t('event.lists.courses.title')
- manager = can?(:list_all, Event::Course)

%p= t('event.lists.courses.explanation') unless can?(:list_all, Event::Course)

- content_for :toolbar do
  - if manager
    = pill_dropdown_button(Dropdown::Event::GroupFilter.new(self, year, group_id))

= render 'shared/page_per_year', paging_params: group_id.to_i > 0 ? { group_id: group_id } : {}
= render "filter"

%p
  - if can?(:export_list, Event::Course)
    = Dropdown::Event::EventsExport.new(self, params).to_s
    = render_extensions :buttons

#main
  %section
    = grouped_table(@grouped_events, manager || display_any_booking_info? ? 4 : 3) do |event|
      %td
        %strong
          = event.labeled_link
      %td= event.dates_full
      - if manager || display_any_booking_info?
        %td= manager || event.display_booking_info? ? event.booking_info : ''
      - if manager
        %td= event.state_translated
      - else
        %td.center= button_action_event_apply(event)
