-#  Copyright (c) 2012-2018, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#main.row-fluid
  .span5
    = standard_form(:payment_process, url: group_payment_process_path(group), builder: PlainObjectFormBuilder) do |f|
      = form_buttons(f, submit_label: t('.upload_button'), cancel_url: group_invoices_path(group))
      = f.labeled(:file, t('.xml_file')) do
        = f.file_field(:file)
  .span7
    .well.help
      = render 'description'
