.hidden
  .multiselect
    .count
    = ti('selected')
    .actions
      = imap_mail_move_button :inbox
      = imap_mail_move_button :spam
      = imap_mail_move_button :failed

      = action_button(ti(:"link.delete"),
      imap_mails_destroy_path(mailbox: mailbox),
      :'trash-alt',
      data: { confirm: ti(:confirm_delete),
              checkable: true, method: :delete },
      )
