-# frozen_string_literal: true

-#  Copyright (c) 2023, Schweizer Alpen-Club. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- entry.model.class.mounted_attr_configs_by_category.each do |category, configs|
  .tab-pane.mt-3{id: category}
    - configs.each do |config|
      - if config.enum.present?
        = f.labeled(config.attr_name) do
          = MountedAttrs::EnumSelect.new(self, config, f).render
      - elsif config.type.is_a?(ActiveModelTypes::Reference)
        = f.labeled(config.attr_name) do
          = f.collection_select(config.attr_name, config.type.reference_class.all, :id, :to_s)
      - else
        = f.labeled_input_field(config.attr_name)
