-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if can?(:edit, entry)
  = button_action_edit

- if entry.person_id == current_user.id
  = action_button(t('global.button.print'),
                  print_group_event_participation_path(@group, @event, entry, format: :pdf), :print, { target: 'new'})

- if can?(:edit, entry.person)
  = action_button(t('.change_contact_data_button'), edit_group_person_path(entry.person.default_group_id, entry.person, return_url: url_for), :edit)

- if @application.present?
  - if can?(:destroy, entry)
    = button_action_destroy

  - if @event.requires_approval? && can?(:approve, @application)
    - unless @application.approved?
      = action_button("<strong>&#x2713;</strong>&nbsp; #{t('.approve_button')}".html_safe,
                      approve_group_event_application_path(@group, @event, @application),
                      nil,
                      method: :put)
    - unless @application.rejected?
      = action_button("<strong>&#x00D7;</strong>&nbsp; #{t('.reject_button')}".html_safe,
                      reject_group_event_application_path(@group, @event, @application),
                      nil,
                      method: :delete)
