- parent_sheet(EntrySheet.new(self, @event, :event_participations_path, :index_participations, group_event_path(@event.group, @event)))
- parent_sheet(GroupSheet.new(self, @event.group))
- title entry.to_s

#main.row-fluid
  %article.span7
    = render 'contactable/show', contactable: entry.person, only_public: true
    
    = render_attrs(entry.person, :birthday, :gender)
    
    %br/
    
    -if can?(:show_details, entry) # participation
      -if @answers.present?
        %h4 Spezifische Angaben
        %dl
        - @answers.each do |answer|
          %dt= answer.question.question
          %dd= answer.answer
        %br/
    
      %h4= t('activerecord.attributes.event/participation.additional_information')
      = simple_format(entry.additional_information)
      
  %aside.span5
    = render 'roles'

