-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#main.row-fluid
  %article.span6
    = render 'people/contact_data', person: entry.person, only_public: cannot?(:show_details, entry)

    = render_attrs(entry.person, :layer_group, :birthday, :gender)

    - if can?(:show_details, entry)
      = render 'application_details'

      = render_extensions :details,
                          folder: :people,
                          locals: { entry: entry.person, show_full: false }

      = render 'answers',
               answers: @answers.reject(&:admin?),
               title: t('event.participations.application_answers')

      - if can?(:show_full, entry)
        = render 'answers',
                 answers: @answers.select(&:admin?),
                 title: t('event.participations.admin_answers')

      = section t('activerecord.attributes.event/participation.additional_information') do
        %p.multiline= entry.additional_information || '-'

  %aside.span5.offset1
    = render 'apply_to'

    = render 'roles'

    - if can?(:show_details, entry)
      = render 'people/qualifications', entry: entry.person, show_buttons: false


    = render 'approvals'

    - if can?(:show_details, entry) || show_application_approval?(entry)
      = render 'precondition_warnings'

    = render 'priorities'

    = render_extensions :asides
