- parent_sheet(EntrySheet.new(self, 
                              @event, 
                              :event_participations_path, 
                              :index_participations, 
                              group_event_path(@event.group, @event)))
- event_group_sheet
- title entry.to_s

#main.row-fluid
  %article.span7
    = render 'contactable/show', contactable: entry.person, only_public: true
    
    = render_attrs(entry.person, :birthday, :gender)
    
    -if can?(:show_details, entry) # participation
      -if @answers.present?
        = render 'answers'
    
      %section
        %h4= t('activerecord.attributes.event/participation.additional_information')
        = simple_format(entry.additional_information || '-')
      
      - if @event.priorization && @application.present? && can?(:create, entry)
        = render 'priorities'
      
  %aside.span5
    - if entry.person == current_user && @application.present?
      = section 'Anmeldung an' do
        = render 'contactable/show', contactable: @application.contact, only_public: true, with_name: true
    
    = render 'roles'

