-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if entry.new_record?
  - title t('.title_new', role: entry.roles.first.class.model_name.human)
- else
  - title t('.title_edit', person: entry.person)

= entry_form(stacked: true,
             buttons_top: false,
             submit_label: entry.new_record? ? t('.apply') : t('global.button.save'),
             cancel_url_new: group_event_path(@group, @event)) do |f|

  = hidden_field_tag('event_role[type]', params[:event_role][:type]) if params[:event_role]

  - if params[:for_someone_else]
    = f.labeled_person_field(:person)

  = f.fields_for(:answers) do |fans|
    = render 'event/answers/fields', f: fans

  = f.labeled_text_area(:additional_information)

  -if entry.application && entry.new_record?
    -# once given, priorities may not be changed anymore
    -# (@alternatives might not be in state application_open anymore in the future,
    -#  causing missing choices for the dropdown)
    = f.fields_for(:application) do |fap|
      - if @event.priorization? && @priority_2s.present?
        = field_set_tag t('event.alternative_dates') do
          %p= t('.alternative_dates_info')
          = fap.labeled_belongs_to_field(:priority_2_id)
          = fap.labeled_belongs_to_field(:priority_3_id)

          %h4= t('.course_information')
          %table.table
            - @alternatives.each do |event|
              %tr{class: "#{'highlight' if event == @event}"}
                %td= event.label
                %td= event.dates_full
      - else
        -# This is required for correct rendering
        &nbsp;

  = render_extensions :fields, locals: { f: f }

  %p= t('.explain_required_checkmark') if @event.questions.any?(&:required?)
