- parent_sheet(EntrySheet.new(self, @event, [:group_event_path, @event.group]))
- parent_sheet(GroupSheet.new(self, @event.group))
- title "Anmeldung für #{@event}"

= entry_form(stacked: true, 
             submit_label: entry.new_record? ? 'Anmelden' : 'Speichern', 
             cancel_url_new: group_event_path(@event.group_id, @event)) do |f|
             
  = f.fields_for(:answers) do |fans|
    = render 'event/answers/fields', f: fans
    
  = f.labeled_text_area(:additional_information)
    
  -if entry.application
    = f.fields_for(:application) do |fap|
      - if @event.priorization? && @priority_2s.present?
        = field_set_tag 'Ausweichdaten' do
          %p Bitte gib weitere Kurse an, welche dir gehen würden.
          = fap.labeled_belongs_to_field(:priority_2_id)
          = fap.labeled_belongs_to_field(:priority_3_id)
          
          %h4 Informationen zu den Kursen
          %table.table
            - @alternatives.each do |event| 
              %tr{class: "#{'highlight' if event == @event}"}
                %td= event.label
                %td= event.dates_full
