-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if entry.new_record?
  - title t('.title_new', role: entry.roles.first.class.model_name.human)
- else
  - title t('.title_edit', person: entry.person)

- unless params[:for_someone_else]
  = render 'event/participations/step_wizard', step: 2

= render_extensions :info

= entry_form(stacked: true,
             buttons_top: false,
             submit_label: entry.new_record? ? t('.apply') : t('global.button.save'),
             cancel_url_new: group_event_path(@group, @event)) do |f|

  - if params[:event_role]
    = hidden_field_tag('event_role[type]', params[:event_role][:type])

  - if params[:for_someone_else]
    = f.labeled_person_field(:person)

  = f.fields_for(:answers, @answers.reject(&:admin?)) do |fans|
    = render 'event/answers/fields', f: fans

  - if params[:for_someone_else] || (entry.persisted? && entry.person_id != current_user.id)
    = f.fields_for(:answers, @answers.select(&:admin?)) do |fans|
      = render 'event/answers/fields', f: fans

  = f.labeled_text_area(:additional_information)

  - if entry.application && entry.new_record?
    = render 'application_fields', f: f

  = render_extensions :fields, locals: { f: f }

  %p= t('.explain_required_checkmark') if @event.questions.any?(&:required?)
