-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title @event.to_s
= content_for(:filter) do
  .control-group
    = form_tag('', { method: :get, class: 'form form-search form-inline', style: 'display: inline-block; float: left; margin-right: 10px;', role: 'search', remote: true, data: { spin: true } }) do
      = search_field_tag :q, params[:q], class: 'form-control search-query', placeholder: t('global.search.placeholder_person'), data: { submit: true }
      = hidden_field_tag :returning, true
      = hidden_field_tag :page, 1
    = FilterNavigation::Event::Participations.new(self, @group, @event, params[:filter], params[:q]).to_s

- params[:q] = nil # Reset param so quicksearch filter does not get populated

.pagination-bar
  = paginate entries

  .pagination-info

  - if @participations.present?
    = Dropdown::TableDisplays.new(self).to_s
- if @person_add_requests.present?
  = render 'person/add_requests/body_list'

= crud_table do |t|
  - t.col('') do |p|
    .profil
      = image_tag(upload_url(p.person, :picture, variant: :thumb), size: '32x32')
  - sortable_grouped_person_attr(t, last_name: true, first_name: true, nickname: true) do |p|
    %strong
      -# Any person listed can be shown
      = link_to(p.to_s(:list), group_event_participation_path(@group, @event, p))
      = p.person_additional_information
  - t.col(event_participations_roles_header(t))                  { |p| event_participations_roles_content(p) }
  - t.col(Person.human_attribute_name(:emails))                  { |p| p.all_emails(cannot?(:show_details, p)) }
  - t.col(PhoneNumber.model_name.human(count: 2))                { |p| p.all_phone_numbers(cannot?(:show_details, p)) }
  - sortable_grouped_person_attr(t, address: false, zip_code: true, town: true) { |p| p.complete_address }

  = render_extensions :list, locals: { table: t }
  - render_table_display_columns(t)

= paginate entries
