= section 'Ausweichdaten' do
  %table.table
    - [@application.priority_2, @application.priority_3].each_with_index do |prio, i|
      %tr
        %td= "#{i+1}. Ausweichkurs"
        %td= prio.try :labeled_link
        %td= prio.try :dates_full