-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if show_application_priorities?(entry)

  = section t('event.priorities') do
    - if @application.event.attr_used?(:priorization)
      %table.table
        - [@application.priority_1,
           @application.priority_2,
           @application.priority_3].each_with_index do |prio, i|
          %tr
            %td= "#{i+1}."
            %td= prio.try :labeled_link
            %td= prio.try :dates_full

    - if @application.waiting_list?
      %strong= t('event.participations.priorities.on_waiting_list')
      = format_attr(@application, :waiting_list_comment)
