!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %title= Jubla
    = csrf_meta_tag
    = stylesheet_link_tag 'event/participation_print.css', :media => :all
    = javascript_include_tag 'application'
    :javascript
      $(function() { window.print(); })

  %body
    - if @application.present?
      = render 'contactable/show', contactable: @application.contact, only_public: true, with_name: true

    %h4 Informationen zum Anlass
    = entry.event.to_s
    %br/
    = entry.event.kind 
    = entry.event.number 
    %br/
    = entry.event.with_br(:location, :dates_full, :motto, :description)

    - if entry.event.priorization && @application.present?
      = render 'priorities'

    %h4 Informationen zur Person
    = entry.person
    = render 'contactable/show', contactable: entry.person, only_public: true
    
    -if @answers.present?
      %h4 Spezifische Angaben
      %ul
      - @answers.each do |answer|
        %li= "#{answer.question.question}: #{answer.answer}"
      %br/

    - if entry.additional_information.present?
      = simple_format(entry.additional_information)

    %h4 Unterschrift
    %p Von dir oder einer erziehungsberechtigten Person, falls du jünger als 18 Jahre bist.
    %table.signature
      %tr
        %td 
        %td 
      %tr
        %td.border Ort, Datum
        %td.border Unterschrift
