-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %title= Settings.application.name
    = csrf_meta_tag
    = stylesheet_link_tag 'print.css', :media => :all
    :javascript
      $(function() { window.print(); })

  %body.application
    .row-fluid
      %h1= t('event.participations.form.title', event: @event)

      %article.span7
        %section
          %dl.dl-horizontal
            = labeled_attr(@event, :dates_full)
            = labeled_attr(@event, :motto)
            = labeled_attr(@event, :cost)

          - if @event.description?
            = render_attrs(@event, :description)

          - if @event.location?
            = render_attrs(@event, :location)

          %dl.dl-horizontal
            - @event.used?(:kind_id) do
              = labeled_attr(@event, :kind_id)

            - @event.used?(:number) do
              = labeled_attr(@event, :number)

            = labeled(t('event.run_by'), @event.group_names)


        -if @answers.present?
          = section t('event.participations.specific_information') do
            %ul
            - @answers.each do |answer|
              %li= "#{answer.question.question}: #{answer.answer}"

        - if entry.additional_information.present?
          = section t('activerecord.attributes.event/participation.additional_information') do
            = simple_format(entry.additional_information)

        - if @event.priorization && @application.present?
          = render 'priorities'

      %aside.span5
        - if @application.present? && @application.contact.present?
          = section t('event.applied_to') do
            = @application.contact.decorate.complete_contact

        - if @event.contact_id?
          = section Event.human_attribute_name(:contact) do
            = @event.contact.complete_contact

        = section Event::Role::Participant.model_name.human do
          = render 'people/contact_data', person: entry.person, only_public: true


    .row-fluid
      = render_extensions 'print'

