!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %title= Jubla
    = csrf_meta_tag
    = stylesheet_link_tag 'print.css', :media => :all
    :javascript
      $(function() { window.print(); })

  %body.application
    - if @application.present?
      = render 'contactable/show', contactable: @application.contact, only_public: true

    %h4 Informationen zum Anlass
    = @event.to_s
    %br/
    - @event.used?(:kind_id) do
      = @event.kind 
    = @event.number 
    %br/
    = @event.with_br(:location, :dates_full, :motto, :description)

    - if @event.priorization && @application.present?
      = render 'priorities'

    %h4 Informationen zur Person
    = render 'contactable/show', contactable: entry.person, only_public: true
    
    -if @answers.present?
      %h4 Spezifische Angaben
      %ul
      - @answers.each do |answer|
        %li= "#{answer.question.question}: #{answer.answer}"
      %br/

    - if entry.additional_information.present?
      = simple_format(entry.additional_information)

    = render_extensions 'print'

    %h4 Unterschrift
    %p Von dir oder einer erziehungsberechtigten Person, falls du jünger als 18 Jahre bist.
    %br/
    %table.signature
      %tr
        %td.border Ort, Datum
        %td.border Unterschrift
