-#  Copyright (c) 2019, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title t('.title')

#main

  - if current_user.event_feed_token
    %p
      = t('event_feed.url')
      = link_to nil, feed_url
      = action_button(t('global.button.copy'), '#', :copy, class: 'btn-small', data: { copy_to_clipboard: feed_url }, in_button_group: true)
    %p= t('event_feed.url_description')

    %p= t('event_feed.reset_url_description')
    = action_button t('event_feed.reset_url'), { action: :reset }, :recycle, method: :post

  - else
    = action_button t('event_feed.create_url'), { action: :reset }, :calendar, method: :post
    %p= t('event_feed.url_description')
