-#  Copyright (c) 2012-2016, Dachverband Schweizer Jugendparlamente. This file is part of
-#  hitobito_dsj and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_dsj.

-#TODO: remote true fehlen


.row-fluid.note{id: dom_id(note), :class => ("is-current-person" unless show_person)}
  - if show_person
    %img.note-image{:src => note.person.picture}
  .note-body
    - if show_person
      = person_link(note.person)
    %small.muted.note-author
      = person_link(note.author) || note.author
      .note-date
        = t('.created', time_ago: time_ago_in_words(note.created_at))
        - if can?(:index_notes, note.person)
          = link_to icon(:trash),
            group_person_note_path(group_id: @group.id, person_id: note.person.id, id: note.id),
            method: :delete,
            remote: true,
            data: {confirm: ti(:confirm_delete)}
    = auto_link(simple_format(note.text))
