-#  Copyright (c) 2012-2021, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if can?(:edit, entry)
  = Dropdown::GroupEdit.new(self, entry)
- if !entry.archived? && entry.possible_children.any? { |type| can?(:create, type.new(parent: entry))  }
  = Dropdown::GroupAdd.new(self, entry)
- if !entry.archived? && can?(:export_subgroups, entry)
  = action_button(t('.export_subgroups'), export_subgroups_group_path(@group, format: :csv), :download)
- if entry.deleted? && can?(:reactivate, entry)
  = action_button(t('.reactivate'), reactivate_group_path(@group), :retweet, method: :post)
- if can?(:index_service_tokens, @group)
  = action_button(t('activerecord.models.service_token.other'), group_service_tokens_path(@group), :key)
  = action_button(Calendar.model_name.human(count: 2), group_calendars_path(@group), :'calendar-alt')

- if FeatureGate.enabled?('invoice_runs.fixed_fees.membership') && can?(:index_issued_invoices, @group) && @group.invoice_config&.valid?
  = action_button(t('.membership_invoice_button'), new_group_invoice_run_path(@group, fixed_fees: :membership), 'money-bill-alt')

- if FeatureGate.enabled?("address_sync") & can?(:sync_addresses, @group)
  = action_button(t('.sync_addresses_button'), group_addresses_sync_path(@group), 'address-book', method: :post)

= render_extensions(:actions_show)
