= button_action_edit if can?(:edit, entry) 
= button_action_destroy if !entry.protected? && can?(:destroy, entry) 
= dropdown_button('Neue Gruppe erstellen', entry.possible_children_links, :plus) if can?(:new, entry.children.new)
= button_action_edit
= action_button('Fusionieren', merge_group_path(entry), :merge) if can?(:merge, entry)
