- @sheets = GroupSheet.new(self, @group)

=render 'groups/tabs'

#main.row-fluid
  %aside.span4
    = render 'child_groups'

  %article.span7.offset1
    %h2 Kontaktangaben
    = render 'contactable/show', contactable: entry, only_public: cannot?(:show_details, @group)

    - if entry.contact_id?
      %h4 Kontaktperson
      = render 'contactable/show', contactable: entry.contact, only_public: true
    
    %h2 Weitere Angaben
    = render_attrs(entry, :type_name)
    = render_extensions :attrs
    = render_attrs(entry, :created_info, :updated_info) if can?(:show_details, @group)
