-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#main.row-fluid
  %article.span6
    %h2= t('.contact_details')
    = render 'contact_data', group: entry, only_public: cannot?(:show_details, @group)


    %h2= t('.additional_information')
    = render_attrs(entry, :type_name)
    = render_extensions :attrs
    = render_present_attrs(entry, :created_info, :updated_info, :deleted_info) if can?(:show_details, @group)

  %aside.span5.offset1
    = render 'child_groups'
