- @sheets = GroupSheet.new(self, @group)

=render 'groups/tabs'

#main.row-fluid
  %aside.span4
    = render 'child_groups', list: entry.grouped_children

  %article.span7.offset1
    %h2 Kontaktangaben
    = render 'contactable/show', contactable: entry, only_public: cannot?(:show_details, @group)

    - if @contact
      %h4 Kontaktperson
      = render 'contactable/show', contactable: @contact, only_public: true
    
    %h2 Weitere Angaben
    = render_attrs(entry, :type_name)
    = render_extensions :attrs
