-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#main.row-fluid
  %article.span6
    %h2= t('.contact_details')
    = render 'contact_data', group: entry, only_public: cannot?(:show_details, @group)

    %h2= t('.additional_information')
    - if entry.self_registration_active?
      = render_attrs(entry, :self_registration_link)
    = render_attrs(entry, :type_name)
    = render_present_attrs(entry, *entry.used_attributes(:description))
    = render_extensions :attrs
    = render_present_attrs(entry, :created_info, :updated_info, :deleted_info, :archived_info) if can?(:show_details, @group)

    - if can?(:index_notes, entry)
      = render 'notes/section', create_path: group_notes_path(@group)

  %aside.span5.offset1
    = render 'child_groups'
    = render_extensions :aside
