-#  Copyright (c) 2012-2023, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= entry_form(cancel_url_new: (entry.parent_id? ? group_path(entry.parent_id) : nil), buttons_top: false) do |f|
  - if entry.new_record?
    = f.hidden_field :parent_id
    = f.hidden_field :type

  = render 'form_tabs'

  .tab-content
    = tab_content(:general, default_active: true) do
      = render 'general_fields', f: f
      = render_extensions :fields, locals: { f: f }

    = tab_content(:contactable) do
      = render 'contactable/fields', f: f

    - if FeatureGate.enabled?('groups.self_registration') && entry.supports_self_registration?
      = tab_content(:self_registration) do
        = render 'self_registration_fields', f: f

    = tab_content(:mailing_lists) do
      = render 'mailing_lists_fields', f: f

    = render 'mounted_attributes/form_tabs', f: f
