= entry_form(cancel_url_new: (entry.parent_id? ? group_path(entry.parent_id) : nil)) do |f|
  - if entry.new_record?
    = f.hidden_field :parent_id
    = f.hidden_field :type
    
  = field_set_tag do
    = f.labeled_input_fields(:name, :short_name, :contact_id)
    
  = render 'contactable/fields', f: f 
  
  = render_extensions :fields, locals: { f: f }
