%ul.nav.nav-tabs
  %li.active.nav-item= link_to(t('groups.form_tabs.general'), '#general', data: { bs_toggle: 'tab' })
  %li.nav-item= link_to(Group.human_attribute_name(:contactable), '#contactable', data: { bs_toggle: 'tab' })
  %li.nav-item= link_to(Group.human_attribute_name(:self_registration_link), '#self-registration', data: { bs_toggle: 'tab' })
  %li.nav-item= link_to(MailingList.model_name.human(count: 2), '#mailing_lists', data: { bs_toggle: 'tab' })
  - entry.model.class.mounted_attr_configs_by_category&.keys&.each do |key|
    %li.nav-item= link_to(t("mounted_attributes.form_tabs.#{entry.model.class.sti_name.underscore}.#{key}"), "##{key}", data: { bs_toggle: 'tab' })

  = render_extensions :form_tabs
