%h3.form-subtitle.mt-3= Message::Letter.model_name.human(count: 2)
= f.labeled :letter_logo do
  = f.file_field :letter_logo, type: :file, accept: Settings.application.image_upload.content_types.join(','), class: 'form-control form-control-sm w-25'

- if upload_exists?(entry, :letter_logo)
  = f.labeled :remove_letter_logo do
    = f.boolean_field :remove_letter_logo
= f.labeled_radio_buttons(:letter_address_position, Group::ADDRESS_POSITION_VALUES)
= render_extensions :mailing_lists_letter_fields, locals: { f: f }

%h3.form-subtitle= Message::TextMessage.model_name.human(count: 2)
= f.labeled_input_field(:text_message_username)
= f.labeled_input_field(:text_message_password)
= f.labeled_radio_buttons(:text_message_provider, Group::PROVIDER_VALUES)
= f.labeled_input_field(:text_message_originator)
