-#  Copyright (c) 2023, Pfadibewegung Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if entry.layer?
  = field_set_tag do
    %div{'data-controller': 'form-field-toggle'}
      = f.labeled :privacy_policy_title, "#{Group.human_attribute_name(:privacy_policy_title)} (#{I18n.locale.to_s.upcase})" do
        .d-flex.align-items-center
          = f.input_field "privacy_policy_title_#{I18n.locale}", class: 'me-2'
          = action_button(nil, nil, 'language', {'data-action': 'form-field-toggle#toggle', type: 'button', in_button_group: true})
      .hidden{'data-form-field-toggle-target': 'toggle'}
        - I18n.available_locales.excluding(I18n.locale).each do |locale|
          = f.labeled :privacy_policy_title, "#{Group.human_attribute_name(:privacy_policy_title)} (#{locale.to_s.upcase})" do
            = f.input_field "privacy_policy_title_#{locale}"

    = f.labeled :privacy_policy do
      = f.file_field :privacy_policy, type: :file, accept: '.pdf', class: 'mt-1 form-control form-control-sm'

    - if upload_exists?(entry, :privacy_policy)
      = f.labeled :remove_privacy_policy do
        = f.boolean_field :remove_privacy_policy
