= field_set_tag do
  = f.labeled(:self_registration_role_type, class: 'd-flex') do
    = f.select(:self_registration_role_type,
      entry.allowed_roles_for_self_registration.map { |r| [r.label, r.sti_name ] },
        { include_blank: ta(:not_allowed) },
          class: 'form-select form-select-sm')
    = f.help_inline(t('groups.form.hint_external_registration'))
  = f.labeled_input_fields(:custom_self_registration_title)
  = f.labeled_input_fields(:self_registration_notification_email)
  = f.labeled(:self_registration_require_adult_consent, class: 'd-flex') do
    = f.boolean_field(:self_registration_require_adult_consent)
    = f.help_inline(t('groups.form.help_self_registration_require_adult_consent'))
  = f.labeled(:main_self_registration_group,  class: 'd-flex') do
    = f.boolean_field(:main_self_registration_group, disabled: !can?(:set_main_self_registration_group, entry))
    = f.help_inline(t('groups.form.help_main_self_registration_group'))

  = render_extensions :self_registration_fields, f: f
