-#  Copyright (c) 2026, Puzzle ITC. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito

-# locals: (pass:, person:)

.pass-card.pass-card-front{style: pass_card_style(pass)}
  .pass-card-header
    %h2.pass-card-title= pass.definition.name
    - if pass.logo_path.present?
      = image_tag pass.logo_path, class: 'pass-card-logo', alt: pass.definition.owner.name

  .pass-card-body
    .pass-card-person-row
      .pass-card-person-info
        %p.pass-card-member-name= pass.member_name
        .pass-card-member-number
          %span.pass-card-field-label= Pass.human_attribute_name(:member_number)
          %span.pass-card-field-value= pass.member_number

    = render_extensions :pass_details, locals: { pass: pass }

  .pass-card-footer
    - if pass.secondary_logo_path.present?
      = image_tag pass.secondary_logo_path, class: 'pass-card-logo-secondary'
    .pass-card-validity
      - if pass.valid_until.present?
        %span
          = Pass.human_attribute_name(:valid_until)
          = l(pass.valid_until)
