-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= entry_form cancel_url: group_mailing_list_messages_path, buttons_top: false do |f|

  -# Necessary because we modify the formaction on some of the submit buttons
  = hidden_field_tag :authenticity_token, form_authenticity_token

  = f.hidden_field :type

  = f.labeled_string_field :subject

  = f.labeled :recipients do
    .inline
      %a.collapsed.header{ href: "#recipients-collapse", data: { toggle: :collapse } }
        = t('.recipients_count', count: recipients.count)

      .collapse{ id: 'recipients-collapse' }
        - recipients.each do |recipient|
          .entry
            = recipient.full_label

  #rich-text-editor-message-content
    = f.labeled_rich_text_area :content, help: t('.available_placeholders', placeholders: letter_placeholders)


  - content_for :buttons_bottom do

    .btn-group
      = button_tag(t('global.button.preview'),
                   type: :submit,
                   name: :preview,
                   class: 'btn btn-secondary',
                   formtarget: '_blank',
                   formaction: preview_group_mailing_list_messages_path(format: :pdf, anchor: 'toolbar=0'))

    .btn-group
      = button_tag(t('.finalize_and_print'),
                   type: :submit,
                   name: :print,
                   class: 'btn btn-secondary',
                   formtarget: '_blank',
                   formaction: print_group_mailing_list_messages_path(format: :pdf),
                   rel: :tooltip,
                   'data-html' => 'true',
                   'data-placement' => 'bottom',
                   title: t('.finalize_and_print_notice'))
