-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= entry_form(buttons_bottom: false) do |f|
  = hidden_field_tag :global, params[:global]

  #main.row-fluid
    %article.span6
      = f.labeled_input_fields :name
      = f.labeled_collection_select(:page_size, LabelFormat.available_page_sizes, :to_s, :to_s, {}, class: 'span4')
      = f.labeled(:landscape) do
        = f.inline_radio_button(:landscape, false, t('.portrait'))
        = f.inline_radio_button(:landscape, true, t('.landscape'))
      = f.labeled_input_fields :font_size, :count_horizontal, :count_vertical
      = f.labeled_input_field :width, help_inline: 'mm'
      = f.labeled_input_field :height, help_inline: 'mm'
      = f.labeled_input_field :padding_top, help_inline: 'mm'
      = f.labeled_input_field :padding_left, help_inline: 'mm'
      = f.labeled_input_field :nickname if Person::PUBLIC_ATTRS.include?(:nickname)
      = f.labeled(:pp_post) do
        .input-prepend.input-append
          %span.add-on
            = 'P.P.'
          = f.input_field :pp_post, :placeholder => 'CH-3030 Bern'
          %span.add-on
            = 'Post CH AG'
    %aside.span6
      = image_pack_tag("label_formats.png", size: '426x323')
