-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title ti(:title, :models => models_label)

#main
  -if can?(:manage_global, LabelFormat)
    %label
      %input#admin_toggle{ type: 'checkbox', data: {hide: 'admin_labels'} }
        = I18n.t('label_formats.see_own_labels')
  
  %h2= I18n.t('label_formats.own_labels')
  = render 'list'

  %h2= I18n.t('label_formats.global_labels')
  = render 'list', entries: @global_entries, global: true
