- icon_name ||= nil
- button_class ||= nil

= button_group do
  - if main_link
    = action_button(label, main_link, icon_name, in_button_group: true)
    
  %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#', class: button_class}
    - unless main_link
      = icon(icon_name) if icon_name
      = label
    - if carret
      %b.caret
      
  %ul.dropdown-menu{role: "menu"}
    - items.each do |item|
      - if item.nil?
        %li.divider
      - elsif item.sub_items?
        %li.dropdown-submenu
          = link_to(item.label, item.url, item.options)
          %ul.dropdown-menu
            - item.sub_items.each do |sub|
              - if sub.present?
                %li= link_to(sub.label, sub.url, sub.options)
              - else
                %li.divider
      - else
        %li= link_to(item.label, item.url, item.options)
