-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- icon_name ||= nil
- button_class ||= nil

= button_group do
  - if main_link
    = action_button(label, main_link, icon_name, in_button_group: true)

  %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#', class: button_class}
    - unless main_link
      = icon(icon_name) if icon_name
      = label
    %b.caret

  %ul.dropdown-menu{role: "menu"}
    - items.each do |item|
      - if item.nil?
        %li.divider
      - elsif item.sub_items?
        %li.dropdown-submenu
          = link_to(item.label, item.url, item.options)
          %ul.dropdown-menu
            - item.sub_items.each do |sub|
              - if sub.present?
                %li= link_to(sub.label, sub.url, sub.options)
              - else
                %li.divider
      - else
        %li= link_to(item.label, item.url, item.options)
