- css_classes ||= nil
%ul.nav.nav-pills{class: css_classes}
  %li.dropdown
    - if main_link
      = action_button(label, main_link, defined?(icon_name) ? icon_name : nil, in_button_group: true)
      
    %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
      - unless main_link
        = icon(icon_name) if icon_name
        = label
      %b.caret
        
    %ul.dropdown-menu{role: "menu"}
      - links.each do |link|
        - if link.kind_of?(Hash)
          - link.each do |main, subs|
            %li.dropdown-submenu.pull-left
              = main
              %ul.dropdown-menu
                - subs.each do |sub|
                  - if sub.present?
                    %li= sub
                  - else
                    %li.divider
        - elsif link.present?
          %li= link
        - else
          %li.divider
