- question = f.object
- if question.derived?
  = render "event/questions/derived_fields", f: f
- else
  = f.labeled_input_field(:question, help: t('events.form.explain_choices'))
  = f.nested_fields_for(:choices, nil, question.deserialized_choices, {model_object: [Choice.new], link_to_add_title: t("event.questions.add_choice")}) do |choices_form|
    .mb-2
      = choices_form.labeled_input_field(:choice)
      .controls.align-with-form.mt-n2
        = link_to(ta(:remove), "javascript:void(0)", data: { action: "nested-form#remove" })
  = f.labeled_boolean_field(:multiple_choices)
