-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#main.row-fluid
  %article.span8
    = format_attr(entry, :description)
    = render_attrs(entry, :mail_address_link, :publisher)
    - if can?(:edit, entry)
      = render_attrs(entry, :mailchimp_api_key,
                            :mailchimp_list_id)
      - if entry.mailchimp?
        - if entry.mailchimp_result
          = render_attrs(entry, :mailchimp_include_additional_emails,
                                :mailchimp_synchronization_flags, :mailchimp_sync)
        - else
          = render_attrs(entry, :mailchimp_include_additional_emails,
                                :mailchimp_synchronization_flags)
      = render_attrs(entry, :additional_sender)


    = render_attrs(entry, :main_email, :preferred_labels)
    = render_extensions :attrs

    = entry.subscribable_info
    = entry.subscribers_may_post_info
    = entry.anyone_may_post_info
    = entry.delivery_report_info
