-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#main.row-fluid
  %article.span5
    = format_attr(entry, :description)

    = render_attrs(entry, :publisher)

    - if can?(:edit, entry)
      = render_attrs(entry, :mail_address, :additional_sender)

    = entry.subscribable_info
    = entry.subscribers_may_post_info
    = entry.anyone_may_post_info
