= crud_table do |t|
  - t.col(t.sort_header(:application, Oauth::Application.model_name.human)) do |application|
    - application.name
  - t.col(t(:scopes)) do |application|
    - application.scopes.each do |scope|
      = Oauth::Application.human_scope(scope)
      %br
  - t.col(t('oauth.authorizations.valid_tokens_and_grants')) do |application|
    %div
      = application.valid_access_tokens
      = Oauth::AccessToken.model_name.human(count: application.valid_access_tokens)
    %div
      = application.valid_access_grants
      = Oauth::AccessGrant.model_name.human(count: application.valid_access_grants)
  - t.sortable_attr(:created_at)
  - action_col_destroy(t) { |e| "/#{locale}/oauth/authorizations/#{e.id}" }
