-#  Copyright (c) 2015 - 2017, Pfadibewegung Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.


%p.mt-3= t('events.form.explain_admin_questions')

= field_set_tag nil do
  = f.event_questions_nested_fields_for :admin_questions, admin: true do |fields|
    - if fields.object.derived?
      = render 'event/questions/template_fields', f: fields
    - else
      = render 'event/questions/fields', f: fields, admin: true
