-#  Copyright (c) 2015, insieme Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.


%p.mt-3= t('events.form.explain_application_questions')

= field_set_tag nil do
  = NestedFieldsForBuilders::EventQuestion.new(f, :application_questions).build(admin: false) do |fields|
    - if fields.object.template_id.present?
      = render 'event/questions/template_fields', f: fields
    - else
      = render 'event/questions/fields', f: fields, admin: false
