-#  Copyright (c) 2015, insieme Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.


= field_set_tag do
  = f.labeled_input_fields(*entry.used_attributes(:application_opening_at, :application_closing_at, :application_conditions, :maximum_participants))

  - entry.used?(:external_applications) do
    = f.labeled_boolean_field(:external_applications, caption: t('events.form.caption_external_applications'))

  = render_extensions 'application_middle_fields', locals: { f: f }

  - entry.used?(:priorization) do
    = f.labeled_boolean_field(:priorization, caption: t('events.form.caption_prioritization'))

  - application_approve_role_exists? && entry.used?(:requires_approval) do
    = f.labeled_boolean_field(:requires_approval, caption: t('events.form.caption_requires_approval'))

  - entry.used?(:signature) do
    = f.labeled_boolean_field(:signature, caption: t('.caption_signature'))
  - entry.used?(:signature_confirmation) do
    = f.labeled_boolean_field(:signature_confirmation, caption: t('.caption_signature_confirmation'))
  - entry.used?(:signature_confirmation_text) do
    = f.labeled_input_field(:signature_confirmation_text, value: entry.signature_confirmation_text ||  t('.signature_confirmation_text_default'))

  - entry.used?(:applications_cancelable) do
    = f.labeled_boolean_field(:applications_cancelable,
                          caption: t('events.form.caption_applications_cancelable'))

  - entry.used?(:display_booking_info) do
    = f.labeled_boolean_field(:display_booking_info,
                          caption: t('events.form.caption_display_booking_info'))

  = render_extensions 'application_fields', locals: { f: f }
