- if entry.participant_types.present?
  = field_set_tag Event::Application.model_name.human do
    = f.labeled_input_fields(*entry.used_attributes(:application_opening_at, :application_closing_at, :application_conditions, :maximum_participants))

    - entry.used?(:external_applications) do
      = f.labeled_boolean_field(:external_applications, caption: t('.caption_external_applications'))

    - entry.used?(:priorization) do
      = f.labeled_boolean_field(:priorization, caption: t('.caption_prioritization'))

    - application_approve_role_exists? && entry.used?(:requires_approval) do
      = f.labeled_boolean_field(:requires_approval, caption: t('.caption_requires_approval'))

    = render_extensions 'application_fields', locals: { f: f }