-#  Copyright (c) 2012-2015, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

.well
  %dl.dl-horizontal
    = labeled_attr(entry, :dates_full)
    - entry.used?(:motto) do
      = labeled_attr(entry, :motto)
    - entry.used?(:cost) do
      = labeled_attr(entry, :cost)
    - entry.used?(:event_hours) do
      = labeled_attr(entry, :event_hours)

  %dl.dl-horizontal
    - entry.used?(:kind_id) do
      = labeled_attr(entry, :kind_id)
      = render_extensions :kind, folder: 'events'

    = render_extensions :attrs_main

    - entry.used?(:number) do
      = labeled_attr(entry, :number)

    = labeled(t('event.run_by'), entry.group_names)

    - entry.used?(:state) do
      = labeled_attr(entry, :state_translated)

  %dl.dl-horizontal
    = labeled(entry.class.human_attribute_name(:description)) do
      %p.multiline= safe_auto_link(entry.description, html: { target: '_blank' })

  %dl.dl-horizontal
    = labeled(entry.class.human_attribute_name(:location)) do
      %p.multiline= safe_auto_link(entry.location, html: { target: '_blank' })

  = render_extensions :attrs_primary, folder: 'events'

  = render 'attachments'
  = render 'tags'
