-event_group_sheet
-title @event.name

=render 'events/tabs'

%section
  = render_attrs(entry, *entry.used_attributes(:kind_id, :number, :motto))
  - entry.used?(:state) do
    = render_attrs(entry, :state_translated)
  = render_extensions :attrs

= section 'Daten' do
  %p= entry.dates_full

- if entry.location?
  =section 'Ort' do
    %p= entry.location

- if entry.description?
  = section 'Beschreibung' do
    %p= entry.description

- if entry.contact_id?
  = section 'Kontaktperson' do
    =render 'contactable/show', contactable: entry.contact, only_public: true


=section 'Anmeldung' do
  %p
    = entry.booking_info
    Teilnehmende
  
  = render_attrs(entry, *entry.used_attributes(:cost, :application_opening_at, :application_closing_at, 
                                               :application_conditions))

  - if entry.preconditions.present?
    %p Vorbedingungen
    %ul
      - entry.preconditions.each do |label|
        %li= label
