-parent_sheet GroupSheet.new(self, @group)
-title @event.name

=render 'events/tabs'

%p
  = entry.kind
  = entry.number

%p= entry.state

%p= entry.motto

%p= entry.dates_full

%p= entry.location

%p
  = entry.booking_info
  Teilnehmende

%p= entry.description

= render_attrs(entry, *entry.used_attributes(:cost, :application_opening_at, :application_closing_at, :contact_id))

= render_extensions :attrs
