-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#main.row-fluid
  %article.span7
    %div
      %dl.dl-horizontal
        = labeled_attr(entry, :dates_full)
        = labeled_attr(entry, :motto)
        = labeled_attr(entry, :cost)

      %dl.dl-horizontal
        - entry.used?(:kind_id) do
          = labeled_attr(entry, :kind_id)
          = render_extensions :kind, folder: 'events'

        - entry.used?(:number) do
          = labeled_attr(entry, :number)

        = labeled(t('event.run_by'), entry.group_names)

        - entry.used?(:state) do
          = labeled_attr(entry, :state_translated)

        = render_extensions :attrs, folder: 'events'

      = render_present_attrs(entry, :description, :location)

    = render_extensions :show

  %aside.span5
    - if entry.contact_id?
      = section Event.human_attribute_name(:contact) do
        %dl.dl-horizontal
          = entry.contact.complete_contact


    = section Event::Application.model_name.human do
      %dl.dl-horizontal
        = labeled_attr(entry, :application_opening_at)
        = labeled_attr(entry, :application_closing_at)
        = labeled_attr(entry, :booking_info)
        = labeled(Event.human_attribute_name(:external_applications), entry.external_application_link(@group))

      %dl.dl-horizontal
        = labeled(Event.human_attribute_name(:application_conditions), format_attr(entry, :application_conditions))
        - if entry.course_kind?
          = labeled(Event::Kind.human_attribute_name(:minimum_age),
                    entry.kind.minimum_age? ? t('events.minimum_age_with_years', minimum_age: entry.kind.minimum_age) : '')
          = labeled(t('events.preconditions'), entry.kind.qualification_kinds('precondition', 'participant').join(', '))

      - if entry.course_kind?
        %dl.dl-horizontal
          = labeled(Event::Kind.human_attribute_name(:qualification_kinds),
                    entry.kind.qualification_kinds('qualification', 'participant').join(', '))
          = labeled(Event::Kind.human_attribute_name(:prolongations),
                    entry.kind.qualification_kinds('prolongation', 'participant').join(', '))

      = render_extensions 'application_attrs', folder: 'events'

    = render_extensions 'right_section'
