-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if @user_participation
  = render 'banner_participating'
- elsif @open_invitation && event_user_application_possible?(entry)
  = render 'banner_open_invitation'

#main.row-fluid
  %article.span7
    = render 'attrs_primary'

    = render_extensions 'show_left'

  %aside.span5
    = render 'attrs_contact'

    - if entry.participant_types.present?
      = render 'attrs_application'

    = render_extensions 'show_right'
