-#  Copyright (c) 2021, CEVI ZH SH GL. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- @open_invitations.each do |invitation|
  .alert.alert-warning
    - managed = invitation.person != current_user
    - translation_key = managed ? '.managed.explanation' : '.explanation'
    = t(translation_key, person: invitation.person.full_name)
    = form_with method: :post, url: decline_group_event_invitation_path(@group, entry, invitation), class: 'd-inline-block ml-4' do |f|
      .btn-group.mb-0
        = link_to(contact_data_group_event_participations_path(@group, entry, event_role: { type: invitation.participation_type }, person_id: managed ? invitation.person.id : nil),
                  class: 'btn btn-sm btn-outline-primary',
                  role: 'button') do
          = icon(:check)
          = t('.buttons.accept')
        = button_tag type: :submit , class: 'btn btn-sm btn-outline-primary' do
          = icon(:times)
          = t('.buttons.decline')

