-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= entry_form cancel_url_new: typed_group_events_path(@group, entry.klass) do |f|
  - if entry.new_record?
    = f.hidden_field :type

  = render 'general_fields', f: f

  = render 'group_fields', f: f

  = render 'date_fields', f: f

  = render 'application_fields', f: f

  = render 'additional_fields', f: f

