- event_group_sheet

= entry_form do |f|
  %h2 Infos
  - if entry.new_record?
    = f.hidden_field :group_id
    = f.hidden_field :type

  = field_set_tag do
    = f.labeled_input_fields(*entry.used_attributes(:name, :number, :description, :motto, :cost, :location))
    = f.labeled_person_field :contact

    - entry.used?(:state) do
      = f.labeled_belongs_to_field(:state, list: entry.state_collection)

    - entry.used?(:kind_id) do
      = f.labeled_input_field(:kind_id)
      
  = render_extensions 'fields', locals: { f: f }

  %h2 Kursdaten
  = field_set_tag do
    %p Uhrzeiten sind optional
    = f.nested_fields_for :dates, 'event/dates/fields'

  %h2 Anmeldung
  = field_set_tag do
    = f.labeled_input_field(:application_opening_at)
    = f.labeled_input_field(:application_closing_at)
    = f.labeled_input_field(:application_conditions)
    - entry.used?(:priorization) do
      = f.labeled_boolean_field(:priorization, caption: 'Teilnehmende können bei der Anmeldung zwei weitere Kurse als Alternativen angeben')
    - entry.used?(:priorization) do
      = f.labeled_boolean_field(:requires_approval, caption: 'Scharleiter wird informiert und muss die Anmeldung bestätigen')
    = f.labeled_input_field(:maximum_participants, class: 'span1')
    
  %h2 Angaben für Anmeldung
  %p Du kannst weitere Angaben für die Anmeldung verlangen 
  = field_set_tag do
    = f.nested_fields_for :questions, 'event/questions/fields'
