-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= entry_form cancel_url_new: typed_group_events_path(@group, entry.klass) do |f|
  - if entry.new_record?
    = f.hidden_field :type

  = field_set_tag do
    = f.labeled_input_field(:name)

    - entry.used?(:kind_id) do
      = f.labeled_input_field(:kind_id)

    - entry.used?(:state) do
      = f.labeled_belongs_to_field(:state, list: entry.state_collection) if entry.possible_states.present?

    = f.labeled_input_fields(*entry.used_attributes(:number, :description, :motto, :cost, :location))

    = f.labeled_person_field :contact

    = render_extensions 'fields', locals: { f: f }

  - if @groups.present?
    = field_set_tag t('event.run_by') do
      = f.labeled(:group_ids, '&nbsp;'.html_safe) do
        = hidden_field_tag('event[group_ids][]', @group.id)
        = f.inline_check_box(:group_ids, @group.id, @group.to_s, disabled: true)
        - @groups.each do |group|
          = f.inline_check_box(:group_ids, group.id, group.to_s)


  = field_set_tag Event.human_attribute_name(:dates) do
    %p= t('.times_are_optional')
    = f.nested_fields_for :dates, 'event/dates/fields'

  = field_set_tag Event::Application.model_name.human do
    = f.labeled_input_fields(:application_opening_at, :application_closing_at, :application_conditions)
    = f.labeled_boolean_field(:external_applications, caption: t('.caption_external_applications'))

    - entry.used?(:priorization) do
      = f.labeled_boolean_field(:priorization, caption: t('.caption_prioritization'))
    - application_approve_role_exists? && entry.used?(:requires_approval) do
      = f.labeled_boolean_field(:requires_approval, caption: t('.caption_requires_approval'))
    = f.labeled_input_field(:maximum_participants)

    = render_extensions 'application_fields', locals: { f: f }

  = field_set_tag t('.additional_information') do
    %p= t('.explain_application_questions')

    = f.nested_fields_for :questions, 'event/questions/fields'
