- parent_sheet(GroupSheet.new(self, @group, :group_event_path, :index_event))

%h2 Infos
= entry_form do |f|

  = field_set_tag do
    = f.labeled_input_fields(:name, :number, :description, :motto, :cost, :location)
    = f.labeled(:contact_id) do
      = f.string_field :contact_id, data: {provide: 'person', id_field: 'role_person_id'}
    = f.labeled_collection_select(:kind_id, f.association_entries(:kind_id), :id, :to_s, {}, class: 'span2')
  //= render_extensions 'fields', locals: { f: f }

  %h2 Kursdaten
  = field_set_tag do
    = f.inline_fields_for :dates, 'event/dates/fields'

  %h2 Anmeldung
  = field_set_tag do
    = f.labeled_input_field(:application_opening_at, class: 'span1 date')
    = f.labeled_input_field(:application_closing_at, class: 'span1 date')
    = f.labeled_input_field(:application_conditions)
    = f.labeled(:requires_approval, 'Freigabe') do
      %label.checkbox
        = f.boolean_field(:requires_approval)
        Scharleiter wird informiert und muss die Anmeldung bestätigen
    = f.labeled_input_field(:maximum_participants, class: 'span1')
    
  %h2 Angaben für Anmeldung
  %p Du kannst weitere Angaben für die Anmeldung verlangen 
  = field_set_tag do
    = f.inline_fields_for :questions, 'event/questions/fields'
