- parent_sheet(GroupSheet.new(self, @group, :group_event_path, :index_event))

%h2 Kursinfos
= entry_form do |f|
  - if entry.new_record?
    //= hidden_field_tag('kind[kind_id]', params[:kind][:kind_id])

  = field_set_tag do
    = f.labeled_input_fields :name, :number, :kind_id, :description, :motto, :cost, :contact_id, :location

  = render 'events/dates', f: f

  %h2 Anmeldung

  = render 'events/questions', f: f
