-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= entry_form cancel_url_new: typed_group_events_path(@group, entry.klass),
             html: { class: 'tabbed' } do |f|
  - if entry.new_record?
    = f.hidden_field :type

  - if entry.uses_form_tabs
    = render 'form_tabs'

  .tab-content
    #general.tab-pane.active
      = render 'general_fields', f: f
      = render 'group_fields', f: f

    - if entry.uses_form_tabs
      #dates.tab-pane
        = render 'date_fields', f: f

    - if entry.supports_application_details?
      #application.tab-pane
        = render 'application_fields', f: f

    = render_extensions 'form_tab_pane', locals: { f: f }

    - if entry.role_types.present?
      #application_questions.tab-pane
        = render 'application_questions_fields', f: f

      #admin_questions.tab-pane
        = render 'admin_questions_fields', f: f

    - if entry.participant_types.present?
      #contact_attrs.tab-pane
        = render 'contact_attr_fields', f: f

  = render_extensions 'form_actions_caption', locals: { f: f }
