-#  Copyright (c) 2015, insieme Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= field_set_tag do
  = f.labeled_input_field(:name)

  - entry.used?(:kind_id) do
    = f.labeled(:kind_id) do
      = f.input_field(:kind_id, list: @kinds, data: { action: 'form-field-inheritance#inherit' })
      .form-text
        = link_to(t('global.link.override'), '#', title: t('.kind_overrides_link_title'),
            data: { action: "form-field-inheritance#override"})

  = render 'state_field', f: f

  = render_extensions :main_fields, locals: { f: f }

  - entry.used?(:number) do
    = f.labeled_input_field(:number)

  - entry.used?(:description) do
    = f.labeled_input_field(:description)
    - if entry.kind_class == Event::Kind
      = field_inheritance_values(@kinds, { description: :general_information })

  = f.labeled_input_fields(*entry.used_attributes(:motto, :cost))

  .row.mb-2
    %label.col-md-3.col-xl-2.pb-1.col-form-label.text-md-end{ for: "event_hour" } Hours
    .labeled.col-md-9.col-lg-8.col-xl-8.mw-63ch
      = number_field_tag "event[event_hours]", 0, min: 0, max: 200, class: "form-control form-control-sm mw-100 mw-md-60ch", id: "event_hour"

  - entry.used?(:contact_id) do
    = f.labeled_person_field :contact
    .display-wrapper{style: element_visible(entry.contact.present?)}
      = f.labeled_boolean_field :notify_contact_on_participations,
        label: t('events.form.label_notify_contact_on_participations'),
        caption: Event.human_attribute_name(:notify_contact_on_participations)

  = render 'location_fields', f: f

  = render 'additional_fields', f: f

= render_extensions 'fields', locals: { f: f }
