-#  Copyright (c) 2015, insieme Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= field_set_tag do
  = f.labeled_input_field(:name)

  - entry.used?(:kind_id) do
    = f.labeled_input_field(:kind_id)

  - entry.used?(:state) do
    - if entry.possible_states.present?
      = f.labeled_belongs_to_field(:state, list: entry.state_collection, prompt: true)
    - else
      = f.labeled_input_field(:state)

  = render_extensions :main_fields, locals: { f: f }

  - entry.used?(:number) do
    = f.labeled_input_field(:number)

  - entry.used?(:description) do
    - link = entry.kind_class == Event::Kind ? render('default_description_link') : nil
    = f.labeled_input_field(:description, help: link)

  = f.labeled_input_fields(*entry.used_attributes(:motto, :cost))

  - entry.used?(:contact_id) do
    = f.labeled_person_field :contact
    .display-wrapper{style: element_visible(entry.contact.present?)}
      = f.labeled_boolean_field :notify_contact_on_participations,
        label: t('events.form.label_notify_contact_on_participations'),
        caption: Event.human_attribute_name(:notify_contact_on_participations)

  = render 'location_fields', f: f

  - entry.used?(:globally_visible) do
    = f.labeled_input_field :globally_visible,
      caption: t('events.form.caption_globally_visible', model_name: entry.model_name.human)

= render_extensions 'fields', locals: { f: f }
