-#  Copyright (c) 2015, insieme Schweiz. This file is part of
-#  hitobito_insieme and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_insieme.

- entry.used?(:group_ids) do
  - if @groups.present?
    = field_set_tag t('event.run_by') do
      = f.labeled(:group_ids, '&nbsp;'.html_safe) do
        = hidden_field_tag('event[group_ids][]', @group.id)
        = f.inline_check_box(:group_ids, @group.id, @group.to_s, disabled: true)
        - @groups.each do |group|
          = f.inline_check_box(:group_ids, group.id, group.to_s)
