#role-lists-form.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h5.bold.modal-title
          %b= title

      = standard_form(path_args(entry),
        url: url, method: method, remote: remote) do |f|
        .modal-body
          .row-fluid
            = hidden_field_tag('return_url', params[:return_url])
            = hidden_field_tag('range', params[:range])
            = hidden_field_tag('ids', people_ids)
            = render 'roles/fields', f: f
        .modal-footer
          = submit_button(f, submit_label)
          = link_to(ti('button.cancel'), '#',
            class: 'link cancel',
            onclick: "event.preventDefault(); $('#role-lists-form').modal('hide')")
