-#  Copyright (c) 2022, Pfadibewegung Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#main.row-fluid
  %article.span8
    = format_attr(entry, :description)

    = render_extensions :attrs

    %h3
      = t('.included_groups')

    - entry.included_calendar_groups.each do |group|
      %p
        = format_calendar_group(group)

    %h3
      = t('.excluded_groups')

    - entry.excluded_calendar_groups.each do |group|
      %p
        = format_calendar_group(group)

    %h3
      = t('.tags')

    %p
      = format_calendar_tags(entry, excluded: false)

    %p
      = format_calendar_tags(entry, excluded: true)
