.content-header
  -title 'Jungschar Bern'

  -tab 'Home', '#'
  -tab 'Personen', '#'
  -tab 'Gruppen', '#'

- content_for :toolbar do
  = action_button 'Person hinzufügen', '#', :plus

  = button_group do
    = action_button 'List importieren', '#', :download
    = action_button 'Export', '#', :upload
      
  = action_button 'Drucken', '#', :print

  = button_group do
    %a.btn.dropdown-toggle{"data-toggle" => "dropdown"}
      Alle anzeigen
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:href => "#"} Action
      %li
        %a{:href => "#"} Another action
      %li
        %a{:href => "#"} Something else here
      %li.divider
      %li
        %a{:href => "#"} Separated link

#main

  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Email
    %tbody
      %tr
        %td Peter Meier
        %td peter@meier.ch
      %tr
        %td Franz Mueller
        %td franz@gmx.ch

  %p.muted Text with less importance