- if can?(:new, @mailing_list.subscriptions.new)
  = action_button 'Person hinzufügen', new_group_mailing_list_person_path(@group, @mailing_list), 'plus'
  = action_button 'Gruppe/Rollen hinzufügen', new_group_mailing_list_group_path(@group, @mailing_list), 'plus'
  = action_button 'Anlass hinzufügen', new_group_mailing_list_event_path(@group, @mailing_list), 'plus'
  = action_button 'Person ausschliessen', new_group_mailing_list_exclude_person_path(@group, @mailing_list), 'minus'

- if can?(:index_subscriptions, @mailing_list)
  = dropdown_people_export
