-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

%h2= title

= table(subs, class: 'table table-striped') do |t|
  - t.col('', width: '98%') { |e| render 'subscription', subscription: e }
  - t.col('', style: 'text-align: right; padding-right: 8px') do |e|
    - if can?(:edit, e) && defined?(edit_controller) && edit_controller.present?
      = link_action_edit(send("edit_group_mailing_list_#{edit_controller.to_s}_path", @group.id, e.mailing_list.id, e.id))
    - if can?(:destroy, e)
      = link_action_destroy(group_mailing_list_subscription_path(@group.id, e.mailing_list.id, e.id))
