-#  Copyright (c) 2012-2016, Dachverband Schweizer Jugendparlamente. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if subscription.subscriber.is_a?(Group) && subscription.related_role_types.present?
  %h4= subscription.subscriber.with_layer.join(' / ')
  - subscription.grouped_role_types.each do |layer, groups|
    %h5= layer
    %dl.dl-horizontal.dl-borderless
      - groups.each do |group, role_types|
        %dt= group
        %dd= role_types.map(&:label).join(', ')
  - unless subscription.tag_list.empty?
    %p
      = t('.only_persons_with')
      - subscription.tags.each do |tag|
        %span.label.label-inverse.person-tag= format_tag_name(tag)
- else
  = subscription.to_s(:list)
