-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title t('.title')

#main
  - if params[:q].to_s.size < 2
    %p= t('.incomplete_search_request')

  - else
    %ul.nav.nav-tabs
      %li.nav-item= link_to(Person.model_name.human(count: 2), '#people', class: "nav-link #{active_tab_class(:people)}", data: { bs_toggle: 'tab' })
      %li.nav-item= link_to(Group.model_name.human(count: 2), '#groups', class: "nav-link #{active_tab_class(:groups)}", data: { bs_toggle: 'tab' })
      %li.nav-item= link_to(Event.model_name.human(count: 2), '#events', class: "nav-link #{active_tab_class(:events)}", data: { bs_toggle: 'tab' })
      - if current_user.finance_groups.any?
        %li.nav-item= link_to(Invoice.model_name.human(count: 2), '#invoices', class: "nav-link #{active_tab_class(:invoices)}", data: { bs_toggle: 'tab' })

    .tab-content
      #people.tab-pane{class: active_tab_class(:people)}= render 'people'
      #groups.tab-pane{class: active_tab_class(:groups)}= render 'groups'
      #events.tab-pane{class: active_tab_class(:events)}= render 'events'
      - if current_user.finance_groups.any?
        #invoices.tab-pane{class: active_tab_class(:invoices)}= render 'invoices'
