- title 'Gefundene Personen'

= paginate(entries)

#main
  = crud_table do |t|
    - t.col('') do |p|
      .profil= image_tag(p.picture.thumb.url, size: '32x32')
    - t.col('Name')    do |p| 
      %strong
        -# Any person listed can be shown
        = link_to(p.to_s, group_person_path(p.roles.first.group_id, p))
    - t.col('Rolle')   {|p| p.roles_short(nil) }
    - t.col('E-Mail')   {|p| p.primary_email }
    - t.col('Telefon') {|p| p.all_phone_numbers(true) }
    - t.col('Adresse') {|p| p.complete_address }

- if params[:q].to_s.size < 2
  %p Bitte geben Sie mindestens zwei Zeichen ein.

= paginate(entries)