-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title t('.title')

= paginate(entries)

#main
  = crud_table do |t|
    - t.col('') do |p|
      .profil= image_tag(p.picture.thumb.url, size: '32x32')
    - t.col(Person.human_attribute_name(:name))    do |p|
      %strong
        -# Any person listed can be shown
        = link_to(p.to_s(:list), group_person_path(p.default_group_id, p))
    - t.col(Role.model_name.human(count: 2))        { |p| p.roles_short(nil) }
    - t.col(Person.human_attribute_name(:emails))   { |p| p.all_emails(true) }
    - t.col(PhoneNumber.model_name.human(count: 2)) { |p| p.all_phone_numbers(true) }
    - t.col(Person.human_attribute_name(:address))  { |p| p.complete_address }

- if params[:q].to_s.size < 2
  %p= t('.incomplete_search_request')

= paginate(entries)
