-title 'Anmelden'

= standard_form(resource, {url: session_path(resource_name)}) do |f|
  = f.labeled_input_field(:email)
  = f.labeled_input_field(:password)
  = f.labeled_boolean_field(:remember_me)
  = f.indented(f.submit('Anmelden'))
