%h2 Anmelden
= form_for(resource, {url: session_path(resource_name), builder: StandardFormBuilder}) do |f|
  = f.labeled(:email) { f.input_field(:email) } 
  = f.labeled(:password, 'Passwort') { f.input_field(:password) } 
  = f.labeled(:remember_me, 'Angemeldet bleiben') { f.boolean_field(:remember_me) } 
  = f.submit 'Anmelden'
