-#  Copyright (c) 2026, Puzzle ITC. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito

<%# locals: (pass:, person:) -%>

.pass-card.pass-card-front{style: pass_card_style(pass)}
  .pass-card-header
    %h2.pass-card-title= pass.definition.name
    - if pass.logo_url.present?
      = image_tag pass.logo_url, class: 'pass-card-logo', alt: pass.definition.owner.name

  .pass-card-body
    .pass-card-person-row
      - if person.picture.attached?
        .pass-card-photo
          = image_tag upload_url(person, :picture, size: '72x96'), alt: person.full_name
      .pass-card-person-info
        %p.pass-card-member-name= pass.member_name
        .pass-card-field
          %span.pass-card-field-label= t('wallets.pass.member_number')
          %span= pass.member_number

    = render_extensions :pass_details, locals: { pass: pass }

  .pass-card-footer
    .pass-card-validity
      - if pass.valid_from.present?
        %span
          = t('wallets.pass.valid_from')
          = l(pass.valid_from)
      - if pass.valid_until.present?
        %span
          = t('wallets.pass.valid_until')
          = l(pass.valid_until)
