#participation-lists-new.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h5.bold.modal-title
          %b= t('.title', event_label: @event_label)

      = standard_form(path_args(Event::Participation.new),
        url: group_event_participation_lists_path(group, -1), method: :post) do |f|
        .modal-body
          .row-fluid
            = hidden_field_tag('ids', @people_ids)
            = text_field_tag('q', nil,
              placeholder: t('.event_search'),
              data: { provide: 'entity',
              updater: 'ParticipationLists.updatePath',
              url: group_events_path(group, format: :json, type: @event_type) })

            = select(:role, :type, [], {}, style: 'display: none')
        .modal-footer
          = submit_button(f, t('.submit'), disabled: true)
          = link_to(ti('button.cancel'), '#',
            class: 'link cancel',
            onclick: "event.preventDefault(); $('#participation-lists-new').modal('hide')")
