-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= standard_form(path_args(entry), noindent: true) do |f|

  .btn-toolbar
    .btn-group
      = f.button(t('global.button.search'), class: 'btn btn-primary', value: 'search')
    - if can?(:create, entry)
      .btn-group
        = f.button(t('.save_search'), class: 'btn btn-primary', value: 'save')
    = link_to(t('global.button.cancel'), group_people_path(@group), class: 'link')


  = f.error_messages

  .label-columns
    = field_set_tag(t('.prompt_role_selection')) do
      - @role_types.each do |layer, groups|
        %h4.filter-toggle= layer
        - groups.each do |group, role_types|
          .control-group
            = label_tag(nil, group, class: 'filter-toggle control-label')
            .controls
              - role_types.each do |role_type|
                = f.inline_check_box(:role_type_ids,
                                    role_type.id,
                                    role_type.label,
                                    checked: entry.role_types.include?(role_type.sti_name))

  - if can?(:create, entry)
    = field_set_tag(t('.save_filter')) do
      = f.labeled_input_field :name, placeholder: t('.save_filter_placeholder')

  .btn-toolbar
    .btn-group
      = f.button(t('global.button.search'), class: 'btn btn-primary', value: 'search')
    - if can?(:create, entry)
      .btn-group
        = f.button(t('.save_search'), class: 'btn btn-primary', value: 'save')
    = link_to(t('global.button.cancel'), group_people_path(@group), class: 'link')
