-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= standard_form(path_args(entry), noindent: true, stacked: true) do |f|

  = render 'search_or_save_buttons', f: f

  = render_extensions :form, locals: { f: f }
  = f.error_messages

  = render 'range', f: f

  .accordion
    = render(layout: 'filter', locals: { type: :role }) do
      = render 'role', f: f

    - if @qualification_kinds.present?
      = render(layout: 'filter', locals: { type: :qualification }) do
        = render 'qualification', f: f

    = render(layout: 'filter', locals: { type: :attributes }) do
      = render 'attributes', f: f

    = render(layout: 'filter', locals: { type: :tag }) do
      = render 'tag', f: f

  - if can?(:create, entry)
    = f.labeled_input_field :name, placeholder: t('.save_filter_placeholder')

  = render 'search_or_save_buttons', f: f
