-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= standard_form(path_args(entry), noindent: true, stacked: true, html: {class: "form-striped"}, data: {"controller": "people-filter-name-requiring"} ) do |form|
  = render_extensions :form, locals: { f: form }
  = form.error_messages

  = render "range", f: form

  = field_set_tag do
    .mt-3.mb-2#overview
      = render "criterion", criterion: :role
      = render "criterion", criterion: :attributes
      = render "criterion", criterion: :qualification
      = render "criterion", criterion: :tag, force: @criterias.include?("tag_absence")

    #filter-critera-dropdown.d-flex.flex-column
      #filter-advice
        %label.col-12.col-lg-2{style: "display: #{@criterias.any? ? 'none' : 'flex'}"}= t(".filter_advice_heading")
      .div.mt-1.d-flex.col-2
        = Dropdown::PeopleFilter.new(self, current_user, @criterias).to_s

  = field_set_tag do
    .d-flex.flex-column
      - unless entry.persisted?
        .d-flex.flex-column.flex-lg-row.col-12
          %label= t(".save_filter_option")
          .ms-0.ms-lg-3
            = check_box_tag('save-filter', true, entry.persisted?, class: "me-1", data: {action: "change->people-filter-name-requiring#changeRequired"})
            %label= t(".save_filter_option_value")
      .mt-2
        - if can?(:create, entry)
          %label{class: "#{entry.persisted? ? 'required' : ''}" , "data-people-filter-name-requiring-target": "label"}=PeopleFilter.human_attribute_name(:name)
          = form.input_field :name, placeholder: t('.save_filter_placeholder'), class: 'mb-1 ', required: false

  .btn-toolbar
    .btn-group
      = button_tag(t('global.button.search'), class: 'btn btn-sm btn-primary', value: 'search', "data-people-filter-name-requiring-target": "filter")
    = link_to(t('global.button.cancel'), people_list_path, class: 'ms-3 mt-1')
