-#  Copyright (c) 2012-2024, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

.label-columns.mr-5
  - unless can?(:index_full_people, @group)
    .alert.alert-warning= t('.not_enough_permissions')

  .d-flex.flex-column.flex-lg-row.align-items-start.align-items-lg-center.mb-2
    .col-12.col-lg-2
      %label= t("people_filters.qualification.title")
    .col-12.col-lg-10.shown{"data-controller": "form-select"}
      = select_tag('filters[qualification][qualification_kind_ids][]',
                      people_filter_qualification_kind_options(filter),
                      class: 'form-select form-select-sm tom-select w-100',
                      id: 'qualification-select',
                      "data-controller": "tom-select",
                      multiple: true,
                      data: { chosen_no_results: t('global.chosen_no_results'),
                      placeholder: t("people_filters.qualification.prompt_qualification_placeholder") } )
  .d-flex.flex-column.flex-lg-row.align-items-start.align-items-lg-center.mb-2
    .col-12.col-lg-2
      %label= t("people_filters.qualification.criterion")
    .col-12.col-lg-10.shown.d-flex.flex-column
      .d-flex.flex-row
        = label_tag('filters_qualification_match_one', class: 'radio inline') do
          = radio_button_tag('filters[qualification][match]', 'one', true)
          = t('people_filters.simple_radio.match.one')
      .d-flex.flex-row
        = label_tag('filters_qualification_match_all', class: 'radio inline') do
          = radio_button_tag('filters[qualification][match]', 'all', people_filter_value(filter, :match) == 'all', %w(not_active none only_expired).include?(people_filter_value(filter, :validity)) ? { disabled: true } : {})
          = t('people_filters.simple_radio.match.all')

  .d-flex.flex-column.flex-lg-row.align-items-start.align-items-lg-center.mb-2
    .col-12.col-lg-2
      %label= t("people_filters.qualification.validity")
    .col-12.col-lg-10.shown.d-flex.flex-column{"data-controller": "form-select"}
      = select_tag('filters[qualification][validity]',
                      people_filter_qualification_validity_options(filter),
                      class: 'form-select form-select-sm w-100',
                      id: 'qualification-validity-select',
                      multiple: false,
                      data: { chosen_no_results: t('global.chosen_no_results'),
                      placeholder: t("people_filters.qualification.prompt_qualification_validity_placeholder") } )

  %div#reference-date{style: "display: #{%w(all none).include?(people_filter_value(filter, :validity)) ? 'none' : 'block'};"}
    .d-flex.flex-column.flex-lg-row.align-items-start.mb-2
      .col-12.col-lg-2.d-flex.align-items-start
        %label= t('.prompt_date')
      .col-12.col-lg-10.shown.d-flex.flex-column{"data-controller": "form-select"}
        .input-group.d-flex.col-12.mr-3
          %span.input-group-text= icon(:'calendar-alt')
          = text_field_tag("filters[qualification][reference_date]", people_filter_value(filter, :reference_date), class: 'date form-control form-control-sm')
        .d-flex.col-12.col-form-label
          = t('.reference_date_help_inline')

  %div.form-horizontal#year-scope{style: "display: #{people_filter_value(filter, :validity) == 'all' ? 'block' : 'none'};"}
    .d-flex.flex-column.flex-lg-row.align-items-start.mb-2
      .col-12.col-lg-2.align-items-start
        = label_tag(:start_at_year_from, t('.start_at_year_label'), class: 'control-label col-form-label')
      .d-flex.col-12.col-lg-10.flex-row
        .col-5.col-lg-5
          = number_field_tag("filters[qualification][start_at_year_from]", people_filter_value(filter, :start_at_year_from), class: 'form-control form-control-sm', placeholder: 'YYYY' )
        .col-2.col-lg-1.col-form-label.text-center
          = t('.start_at_year_infix')
        .col-5.col-lg-6
          = number_field_tag("filters[qualification][start_at_year_until]", people_filter_value(filter, :start_at_year_until), class: 'form-control form-control-sm', placeholder: 'YYYY')

    .d-flex.flex-column.flex-lg-row.align-items-start.mb-2
      .d-flex.col-12.col-lg-2.align-items-start
        = label_tag(:finish_at_year_from, t('.finish_at_year_label'), class: 'control-label col-form-label')
      .d-flex.col-12.col-lg-10.flex-row
        .col-5.col-lg-5
          = number_field_tag("filters[qualification][finish_at_year_from]", people_filter_value(filter, :finish_at_year_from), class: 'form-control form-control-sm', placeholder: 'YYYY')
        .col-2.col-lg-1.col-form-label.text-center
          = t('.finish_at_year_infix')
        .col-5.col-lg-6
          = number_field_tag("filters[qualification][finish_at_year_until]", people_filter_value(filter, :finish_at_year_until), class: 'form-control form-control-sm', placeholder: 'YYYY'  )

