-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

.label-columns.mr-5
  .d-flex.flex-column.flex-lg-row.align-items-start.align-items-lg-center.mb-2
    .col-2
      %label= t("people_filters.role.title")
    .col-10
      = select_tag('filters[role][role_type_ids][]',
                        people_filter_role_options(filter),
                        class: 'form-select form-select-sm tom-select w-100',
                        "data-controller": "tom-select",
                        id: 'role-select',
                        multiple: true,
                        data: { chosen_no_results: t('global.chosen_no_results'), placeholder: t('.prompt_role_placeholder') } )

  .d-flex.flex-column.flex-lg-row.align-items-start.align-items-lg-center.control-group.mb-2
    .col-2
      %label= t("people_filters.role.duration_title")
    .col-10.d-flex.flex-row.align-items-start.align-items-lg-center
      .col-6
        .input-group
          %span.input-group-text= icon(:'calendar-alt')
          = text_field_tag("filters[role][start_at]", people_filter_value(filter, :start_at), class: 'date form-control form-control-sm')
          %label.mx-2.mt-1.d-flex.align-items-center=t('.prompt_role_duration_until')
      .col-6
        .input-group
          %span.input-group-text= icon(:'calendar-alt')
          = text_field_tag("filters[role][finish_at]", people_filter_value(filter, :finish_at), class: 'date form-control form-control-sm')
  .d-flex.flex-column.flex-lg-row.align-items-start.align-items-lg-center
    .col-2
      %label= t("people_filters.role.role_kind_title")
    .col-10
      = select_tag('filters[role][kind]',
                        people_filter_role_kind_options(filter),
                        class: 'form-select form-select-sm w-100',
                        id: 'role-kind-select',
                        multiple: false,
                        data: { chosen_no_results: t('global.chosen_no_results'), placeholder: t('.prompt_role_kind_placeholder') } )

  .d-flex.flex-row.flex-lg-row.align-items-start.align-items-lg-center.mt-3
    .col-6.col-xxl-2
      %label= t('.include_archived')
    .col-4.col-lg-6.col-xxl-10.d-flex.justify-content-end.justify-content-xxl-start.align-items-center
      = check_box_tag('filters[role][include_archived]', true, people_filter_value(filter, :include_archived))
