-#  Copyright (c) 2012-2017, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- filter_roles = entry.filter_chain[:role]
- present_selected_roles = filter_roles.present? ? filter_roles.to_hash[:role_type_ids] : []
- role_options = options_from_collection_for_select(@roles, :second, :first, present_selected_roles)

- present_selected_kinds = filter_roles.present? ? filter_roles.to_hash[:kind] : []
- kind_options = options_from_collection_for_select(@kinds, :second, :first, present_selected_kinds)

.label-columns.mr-5
  .d-flex.flex-row.align-items-center.mb-2
    .w-10
      %label= t("people_filters.role.title")
    .w-90
      = select_tag('filters[role][role_type_ids][]',
                        role_options,
                        class: 'form-control tom-select w-100',
                        "data-controller": "form-select",
                        id: 'role-select',
                        multiple: true,
                        data: { chosen_no_results: t('global.chosen_no_results'), placeholder: t('.prompt_role_placeholder') } )
  .d-flex.flex-row.align-items-center.control-group.mb-2
    .w-10
      %label= t("people_filters.role.duration_title")
    .w-90.d-flex.flex-row.align-items-center
      .input-group.w-50
        %span.input-group-text= icon(:'calendar-alt')
        = text_field_tag("filters[role][start_at]", filter_roles && filter_roles.args[:start_at], class: 'date form-control')
        %label.mx-2.mt-1=t('.prompt_role_duration_until')
      .input-group.w-50
        %span.input-group-text= icon(:'calendar-alt')
        = text_field_tag("filters[role][finish_at]", filter_roles && filter_roles.args[:finish_at], class: 'date form-control')
  .d-flex.flex-row.align-items-center
    .w-10
      %label= t("people_filters.role.role_kind_title")
    .w-90{"data-controller": "form-select"}
      = select_tag('filters[role][kind][]',
                        kind_options,
                        class: 'form-control tom-select w-100',
                        "data-controller": "form-select",
                        id: 'role-kind-select',
                        multiple: true,
                        data: { chosen_no_results: t('global.chosen_no_results'), placeholder: t('.prompt_role_kind_placeholder') } )
