= turbo_stream.append "overview" do
  %div{id: "#{@filter_criterion}-configuration"}
    = render(layout: 'layouts/filter', locals: { type: @filter_criterion.to_sym }) do
      = render @filter_criterion

= turbo_stream.remove "dropdown-option-#{@filter_criterion}"
= turbo_stream.remove "filter-advice"
