= turbo_stream.append "overview" do
  = render(layout: 'layouts/filter', locals: { type: @filter_criterion.to_sym }) do
    = render @filter_criterion

= turbo_stream.remove "dropdown_option_#{@filter_criterion}"
= turbo_stream.remove "filter-advice"
