= turbo_stream.append "overview" do
  = render 'criterion', criterion: criterion.to_sym, force: true
= turbo_stream.update Dropdown::PeopleFilter::ID do
  = Dropdown::PeopleFilter.new(self, current_user, PeopleFiltersController::CRITERIAS - criterias).to_s
= turbo_stream.remove "filter-advice"
