- if @group_selection.present? && @group_selection.size > 1
  = f.labeled(:group_id) do
    .col-6.shown
      = f.select(:group_id,
                 group_options_with_level,
                 { },
                 { class: 'form-select form-select-sm',
                   data: { remote: true,
                           url: role_types_group_roles_path(@group),
                           chosen_no_results: t('global.chosen_no_results') } })
- else
  = f.hidden_field :group_id

= f.labeled(:type) do
  #role_type_select.col-6
    = render 'roles/type_select'

= render 'roles/label', f: f

= render 'roles/date_fields', f: f

= render_extensions :fields, locals: { f: f }
