- if @group_selection.present? && @group_selection.size > 1
  = f.labeled(:group_id) do
    .col-6.shown
      = f.select(:group_id,
                 group_options_with_level,
                 { },
                 { class: 'form-select form-select-sm',
                   data: { remote: true,
                           url: role_types_group_roles_path(@group),
                           chosen_no_results: t('global.chosen_no_results') } })
- else
  = f.hidden_field :group_id

= f.labeled(:type) do
  #role_type_select.col-6
    = render 'roles/type_select'

= render 'roles/label', f: f

= field_set_tag Role.human_attribute_name(:dates) do
  = f.labeled(:created_at) do
    = f.date_field(:created_at, class: 'date col-6', value: f(@role.start_on))
  = f.labeled(:delete_on) do
    = f.date_field(:delete_on, disabled: !can?(:destroy, @role), class: 'date col-6', value: f(@role.delete_on))

= render_extensions :fields, locals: { f: f }
