.person-fields{style: "display: #{entry.person.changed? ? 'none' : 'block'};"}
  - title = capture do
    Bestehende Person
    %small
      oder
      = link_to('Neue Person erfassen', '#', data: { toggle: 'person-fields' })

  = field_set_tag title do
    = f.labeled_person_field(:person)

.person-fields{style: "display: #{entry.person.changed? ? 'block' : 'none'};"}
  - title = capture do
    Neue Person erfassen
    %small
      oder
      = link_to('Bestehende Person suchen', '#', data: { toggle: 'person-fields' })

  = field_set_tag title do

    = render('shared/error_messages', errors: entry.person.errors, object: entry.person)

    = f.fields_for(:new_person, entry.person) do |fields|
      = field_set_tag do
        = fields.labeled_input_fields :first_name, :last_name, :nickname, :company_name, :company, :email
