
= swappable_role_add_fieldset(:create_new, :search_existing) do
  = f.labeled_person_field(:person)


= swappable_role_add_fieldset(:search_existing, :create_new) do
  = render('shared/error_messages', errors: entry.person.errors, object: entry.person)

  = f.fields_for(:new_person, entry.person) do |fields|
    = field_set_tag do
      = fields.labeled_input_fields :first_name, :last_name, :nickname, :company_name, :company
      = fields.labeled_input_field :email, help_inline: t('people.email_field.used_as_login')
