- title = capture do
  Bestehende Person
  %small
    oder
    = link_to(t('.create_new_person'), '#', data: { swap: 'person-fields' })

= field_set_tag(title, class: 'person-fields', style: element_visible(!entry.person.changed?))do
  = f.labeled_person_field(:person)


- title = capture do
  Neue Person erfassen
  %small
    oder
    = link_to(t('.search_existing_person'), '#', data: { swap: 'person-fields' })

= field_set_tag(title, class: 'person-fields', style: element_visible(entry.person.changed?)) do

  = render('shared/error_messages', errors: entry.person.errors, object: entry.person)

  = f.fields_for(:new_person, entry.person) do |fields|
    = field_set_tag do
      = fields.labeled_input_fields :first_name, :last_name, :nickname, :company_name, :company
      = fields.labeled_input_field :email, help_inline: t('people.email_field.used_as_login')
