-#  Copyright (c) 2023, Pfadibewegung Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#people-manual-deletion.modal.fade
  .modal-dialog
    .modal-content{data: { controller: 'manual-deletion' }}
      .modal-header
        %h5.bold.modal-title
          %b= t('.title', full_name: @entry.full_name)

      .modal-body
        .row-fluid
          .alert.alert-info
            = t('.explanation.delete') + (minimizable? ? " #{t('.explanation.minimize')}" : "")
          - if @all_errors.any?
            .alert.alert-warning
              = manual_deletion_error_section(@universal_errors, '.unable_to_delete_or_minimize')

              %p
                = manual_deletion_error_section(@deletable_errors, '.unable_to_delete')
              %p
                = manual_deletion_error_section(@minimizable_errors, '.unable_to_minimize')

            - if can?(:destroy, @entry)
              .form-check
                = check_box_tag :proceed_anyways, false, class: 'form-check-input', data: { manual_deletion_target: "toggle", action: 'manual-deletion#toggle' }
                = label_tag :proceed_anyways, t('.proceed_anyways')


      .modal-footer
        .row-fluid.col-md-12.d-flex.align-items-baseline.gap-3.pl-2
          = standard_form(@entry, url: delete_group_person_manual_deletion_path(@group, @entry), method: :post) do |f|
            = submit_button(f, t('.delete'), disabled: disable_delete?, data: { manual_deletion_target: 'deleteButton' })
          - if minimizable?
            = standard_form(@entry, url: minimize_group_person_manual_deletion_path(@group, @entry), method: :post) do |f|
              = submit_button(f, t('.minimize'), disabled: disable_minimize?, data: { manual_deletion_target: 'minimizeButton' })
          = link_to(ti('button.cancel'), '#',
            class: 'link cancel',
            onclick: "event.preventDefault(); $('#people-manual-deletion').modal('hide')")
