-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= entry_form(buttons_bottom: false) do |f|
  = f.labeled_input_fields :label, :short_name
  = render_extensions 'fields', locals: { f: f }
  = f.labeled_input_field :minimum_age, help_inline: t('.help_minimum_age')

  = field_set_tag(t('.qualifications.for_participants')) do
    %p= t('.help_select_qualifications')
    = labeled_qualification_kinds_field(f, @preconditions, :precondition, :participant,
                                        Event::Kind.human_attribute_name(:preconditions))
    = labeled_qualification_kinds_field(f, @qualification_kinds, :qualification, :participant,
                                        Event::Kind.human_attribute_name(:qualification_kinds))
    = labeled_qualification_kinds_field(f, @prolongations, :prolongation, :participant,
                                        Event::Kind.human_attribute_name(:prolongations))

  = field_set_tag(t('.qualifications.for_leaders')) do
    %p= t('.help_select_qualifications')
    = labeled_qualification_kinds_field(f, @qualification_kinds, :qualification, :leader,
                                        Event::Kind.human_attribute_name(:qualification_kinds))
    = labeled_qualification_kinds_field(f, @prolongations, :prolongation, :leader,
                                        Event::Kind.human_attribute_name(:prolongations))
