-#  Copyright (c) 2026, Puzzle ITC. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title @pass.definition.name
- bg_style = @pass.definition.background_color.present? ? "background-color: #{@pass.definition.background_color}" : nil
- dark_bg_class = pass_card_bg_class(@pass.definition.background_color)
- logo_group = @pass.definition.owner.self_and_ancestors.reverse.find { |g| g.logo.attached? }

.pass-card-wrapper
  .pass-card-sides
    -# === Front ===
    .pass-card.pass-card--front{class: dark_bg_class, style: bg_style}
      .pass-card__header
        %h2.pass-card__title= @pass.definition.name
        - if logo_group
          = image_tag upload_url(logo_group, :logo, size: '100x36'), class: 'pass-card__logo', alt: logo_group.name
        - else
          - logo = Settings.application.logo
          - logo_path = logo&.dig(:multilanguage_image, I18n.locale) || logo&.image
          - if logo_path.present?
            = wagon_image_pack_tag(logo_path, class: 'pass-card__logo', alt: Settings.application.name)

      .pass-card__body
        .pass-card__person-row
          - if @person.picture.attached?
            .pass-card__photo
              = image_tag upload_url(@person, :picture, size: '72x96'), alt: @person.full_name
          .pass-card__person-info
            %p.pass-card__member-name= @pass.member_name
            .pass-card__field
              %span.pass-card__field-label= t('wallets.pass.member_number')
              %span= @pass.member_number

        = render_extensions :pass_details, locals: { pass: @pass }

      .pass-card__footer
        .pass-card__validity
          - if @pass.valid_from.present?
            %span
              = t('wallets.pass.valid_from')
              = l(@pass.valid_from)
          - if @pass.valid_until.present?
            %span
              = t('wallets.pass.valid_until')
              = l(@pass.valid_until)

    -# === Back ===
    .pass-card.pass-card--back{class: dark_bg_class, style: bg_style}
      .pass-card__back-content
        .pass-card__qr
          QR
        - if @pass.definition.description.present?
          %p.pass-card__back-description= @pass.definition.description
        %p.pass-card__back-title= @pass.definition.name

  .pass-card-actions
    = link_to group_person_pass_path(@group, @person, @pass.definition, format: :pdf), class: 'btn btn-outline-secondary' do
      = t('people.passes.index.download_pdf')
    - if google_wallet_configured?
      = link_to google_wallet_group_person_pass_path(@group, @person, @pass.definition), class: 'btn btn-outline-primary' do
        = t('people.passes.index.add_to_google_wallet')
    - if apple_wallet_configured?
      = link_to group_person_pass_path(@group, @person, @pass.definition, format: :pkpass), class: 'btn btn-outline-primary' do
        = t('people.passes.index.add_to_apple_wallet')
