-#  Copyright (c) 2019, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- title t('.title')

#main

  - if current_user.event_feed_token
    %p
      = t('.url', url: link_to(person_event_feed_url, person_event_feed_url)).html_safe
      = action_button(t('global.button.copy'), '#', :copy, class: 'btn-small', data: { copy_to_clipboard: person_event_feed_url }, in_button_group: true)
    %br
    %p= t('.url_description')
    %p= t('.reset_url_description')
    = action_button t('.reset_url'), { action: :update }, :recycle, method: :patch
  - else
    = action_button t('.create_url'), { action: :update }, :calendar, method: :patch
    %p= t('.url_description')
