= f.labeled_input_field(:label, class: 'span3')
= f.labeled(:start_at) do
  %label
    = f.input_field(:start_at_date, class: 'span1 date')
    = '&nbsp;'.html_safe
    = f.time_field(:start_at_time)
    Uhrzeit ist optional
= f.labeled(:finish_at) do
  %label
    = f.input_field(:finish_at_date, class: 'span1 date')
    = '&nbsp;'.html_safe
    = f.time_field(:start_at_time)
    Uhrzeit ist optional
