= f.labeled_input_field(:label, class: 'span3')
= f.labeled(:start_at) do
  = f.text_field(:start_at_date, class: 'span1 date')
  = '&nbsp;'.html_safe
  = f.hours_select(:start_at_h)
  = ' : '
  = f.minutes_select(:start_at_min)
  Uhrzeit ist optional
= f.labeled(:finish_at) do
  = f.text_field(:finish_at_date, class: 'span1 date')
  = '&nbsp;'.html_safe
  = f.hours_select(:finish_at_h)
  = ' : '
  = f.minutes_select(:finish_at_min)
  Uhrzeit ist optional
