-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

#main.row-fluid
  .span5
    = standard_form(:csv_import, url: define_mapping_group_csv_imports_path, builder: PlainObjectFormBuilder) do |f|
      = form_buttons(f, submit_label: t('.upload_button'), cancel_url: group_people_path(group))
      = f.labeled(:file, t('.csv_file')) do
        = f.file_field(:file)

  .span7
    .well.help
      = render 'description'
