-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

%h3
  =t('.import_details_html', role: role_name, group: group)

= render 'preview_table'

= standard_form(:field_mappings, url: group_csv_imports_path, builder: PlainObjectFormBuilder) do |f|
  = render 'hidden_form_fields'
  .btn-toolbar
    .btn-group
      = f.submit(t('.import_now_button'), class: 'btn btn-primary')
    .btn-group
      = f.button(t('global.button.back'), class: 'btn btn-secondary', value: 'back')
    = link_to(t('global.button.cancel'), group_people_path(group), class: 'link')

