= fields.labeled_input_fields :first_name, :last_name
= fields.labeled_input_field :nickname if Person::PUBLIC_ATTRS.include?(:nickname)
= fields.labeled_input_fields :company_name, :company
= fields.labeled_input_field :email, help_inline: t('people.email_field.used_as_login')
= render_extensions :additional_person_fields, locals: { fields: fields }
