-#  Copyright (c) 2021, Efficieny-Club Bern. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= entry_form(url: group_self_registration_path, cancel_url: '', submit_label: t('.submit'), buttons_top: false) do |f|
  = f.honeypot(:verification)

  = f.fields_for(:new_person, entry.person) do |fields|
    = render('shared/error_messages', errors: entry.person.errors, object: entry.person)
    = field_set_tag do
      = render('fields', fields: fields)

      = render('people/privacy_policy_acceptance_field', policy_finder: @policy_finder, f: fields)
      = render_extensions 'conditions', locals: { f: f }
