-#  Copyright (c) 2021, Efficieny-Club Bern. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= entry_form(url: group_self_registration_path, cancel_url: '') do |f|
  = f.honeypot(:verification)

  = f.fields_for(:new_person, entry.person) do |fields|
    = render('shared/error_messages', errors: entry.person.errors, object: entry.person)
    = field_set_tag do
      = fields.labeled_input_fields :first_name, :last_name
      = fields.labeled_input_field :nickname if Person::PUBLIC_ATTRS.include?(:nickname)
      = fields.labeled_input_fields :company_name, :company
      = fields.labeled_input_field :email, help_inline: t('people.email_field.used_as_login')
      = render_extensions :additional_person_fields, locals: { fields: fields }

      - if @policy_finder.acceptance_needed?
        = field_set_tag(nil, class: 'privacy-policy-fields') do
          = fields.boolean_field(:privacy_policy_accepted, caption: t('.privacy_policy_caption'))
          - @policy_finder.groups.each do |group|
            = link_to(icon('file-alt') + group.privacy_policy_title, upload_url(group, :privacy_policy), target: :blank)
