-#  Copyright (c) 2020, CVP Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= render 'modal_crud/modal' do
  = modal_entry_form(nil, group_setting_form_params) do |f|
    - entry.attrs.each do |a|
      - if a.eql?(:picture)
        = f.labeled a do
          = f.file_field a, type: :file, accept: GroupSetting::LogoUploader.accept_extensions
      - else
        = f.labeled_input_field(a)
