= entry_form(url: group_mailing_list_group_index_path(@group, @mailing_list), stacked: true) do |f|
  
  = field_set_tag('Gruppe') do
    = f.string_field(:subscriber, 
                     placeholder: 'Gruppe suchen...',
                     data: {provide: 'entity', 
                            id_field: "subscription_subscriber_id", 
                            url: query_group_mailing_list_group_index_path(@group, @mailing_list)})

    - help = "Es können nur Gruppen unterhalb der Abogruppe "
    - help << "oder unterhalb der benachbarten Gruppen vom Typ #{@group.klass.label} " if @group.sister_groups.exists?
    - help << "ausgewählt werden"
    = f.help_block(help)
    
    = f.hidden_field(:subscriber_id, 
                     data: { remote: true, 
                             url: roles_group_mailing_list_group_index_path(@group, @mailing_list)})
  
  = field_set_tag('Rollen') do
    #roles= render 'roles'
