-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- if @role_types
  - @role_types.each do |layer, groups|
    %h4.filter-toggle=layer
    - groups.each do |group, role_types|
      .control-group
        = label_tag(nil, group, class: 'control-label filter-toggle')
        .controls
          - role_types.each do |role_type|
            = label_tag("subscription_role_types_#{role_type.sti_name.downcase}",
                        class: 'checkbox inline') do
              = check_box_tag("subscription[role_types][]",
                              role_type.sti_name,
                              false,
                              id: "subscription_role_types_#{role_type.sti_name.downcase}")
              = role_type.label

- else
  %p= t('.please_choose_group')
