-#  Copyright (c) 2026, Schweizer Alpenclub SAC CAS. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

- key = attr.gsub(/\W+/, '_').gsub(/_+$/, '')
- caption ||= "events/filters.form.#{key}.#{value}"
- help ||= "events/filters.form.#{key}.#{value}_help"

= label_tag("#{key}_#{value}", class: 'radio') do
  = radio_button_tag(attr, value, checked)
  = t(caption)
  - if I18n.exists? help
    = icon(:"info-circle", title: t(help))
