-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

= standard_form(:field_mappings, method: :post, url: preview_group_csv_imports_path, builder: PlainObjectFormBuilder) do |f|
  = hidden_field_tag :data, parser.to_csv

  = field_set_tag t('.update_behaviour') do
    %label.radio
      = radio_button_tag(:update_behaviour,
                         :keep,
                         params[:update_behaviour].blank? || params[:update_behaviour] == 'keep')
      = t('.keep_behaviour')
    %label.radio
      = radio_button_tag(:update_behaviour,
                         :override,
                         params[:update_behaviour] == 'override')
      = t('.override_behaviour')

    %p.help-block= t('.update_behaviour_explanation')

  = field_set_tag t('.choose_role') do
    = f.labeled :role_type, Role.model_name.human do
      = select_tag(:role_type,
                   options_from_collection_for_select(@group.possible_roles, :sti_name, :label, params[:role_type]),
                   { class: 'span4', prompt: I18n.t('helpers.select.prompt') })
      = f.help_block t('.choose_role_help')

  = field_set_tag t('.assign_columns_to_fields') do
    = f.labeled(nil, content_tag(:i, t('.column_from_csv'))) do
      %i{style: 'line-height: 30px'}= t('.field_in_database')
    %br/
    - parser.headers.each do |column_name|
      = f.labeled(column_name, column_name) do
        = f.collection_select(column_name,
                              application_person_fields,
                              :key,
                              :value,
                              { include_blank: true, selected: guess(column_name) },
                              { class: 'span4' })

  = save_form_buttons(f, t('.preview'), group_people_path(group))
