
= standard_form(:csv_import, url: group_csv_imports_path, builder: PlainObjectFormBuilder) do |f|
  = hidden_field_tag :data, parser.to_csv

  = save_form_buttons(f, 'Personen importieren', group_people_path(group))

  = field_set_tag "Rolle auswählen" do
    = f.labeled :role, 'Rolle' do
      = f.collection_select(:role, possible_roles, :sti_name, :human, {}, {class: 'span3'})
      = f.help_block 'Allen importierten Personen wird diese Rolle zugewiesen'

  = field_set_tag "Spalten zu Feldern zuordnen" do
    = f.labeled(nil, '<i>Spalte aus CSV</i>'.html_safe) do
      %i{style: 'line-height: 30px'} Feld in der Datenbank
    - parser.headers.each do |column_name|
      = f.labeled(column_name, column_name) do
        = f.collection_select(column_name, fields, :key, :value, {include_blank: true}, {class: 'span4'})
      
  = save_form_buttons(f, 'Personen importieren', group_people_path(group))
