- title 'Personen über CSV importieren'
- parent_sheet(GroupSheet.new(self, group, :group_people_path))

= standard_form(:csv_import, url: group_csv_imports_path, builder: PlainObjectFormBuilder) do |f|
  = hidden_field_tag :data, parser.to_csv

  = save_form_buttons(f, 'Personen importieren', group_people_path(group))

  = field_set_tag "Rolle festlegen" do
    = f.labeled :role, 'Rolle' do
      = f.collection_select(:role, possible_roles, :sti_name, :human, {}, {class: 'span3'})

  = field_set_tag "Attribut Zuordnung festlegen" do
    - parser.headers.each do |column_name|
      = f.labeled_collection_select(column_name, fields, :key, :value, {include_blank: true}, {class: 'span4'})
      
  = save_form_buttons(f, 'Personen importieren', group_people_path(group))
