-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

%h3
  Folgende Personen werden mit der
  %strong
    Rolle
    =role_name
  in die
  %strong
    Gruppe
    =group
  importiert.

%div{style: 'max-height: 500px; margin-bottom: 20px; overflow: auto;'}
  = list_table do |t|
    - t.col("") do |p|
      - if p.persisted?
        %i.icon.icon-refresh{title: 'Wird aktualisiert'}
      - else
        %i.icon.icon-plus{title: 'Wird neu erfasst'}

    - t.attrs *relevant_attrs

    - [:phone_numbers, :social_accounts].each do |contact_type|
      - relevant_contacts(contact_type) do |account|
        - t.col(account[:value]) { |p| contact_value(account[:key], p.phone_numbers) }


= standard_form(:field_mappings, url: group_csv_imports_path, builder: PlainObjectFormBuilder) do |f|
  = render 'hidden_form_fields'
  .btn-toolbar
    .btn-group
      = f.submit('Personen jetzt importieren', class: 'btn btn-primary')
    .btn-group
      = f.button('Zurück', class: 'btn btn-secondary', value: 'back')
    = link_to('Abbrechen', group_people_path(group), class: 'link')

