%h3= "Folgende Personen werde mit <strong>Rolle #{role_name}</strong> in die <strong>Gruppe #{group}</strong> importiert.".html_safe

%div{style: 'width: 100%; overflow: auto; margin: 1em;' }
  = list_table do |t|
    - t.col("") { |p| p.persisted? ? "akt." : "neu." }
    - t.attrs *relevant_attrs
    - t.col(Person.human_attribute_name(:phone_numbers)) {|p| p.phone_numbers.join(', ') }
    - t.col(Person.human_attribute_name(:social_accounts)) {|p| p.social_accounts.join(', ') }


= standard_form(:csv_import, url: group_csv_imports_path, builder: PlainObjectFormBuilder) do |f|
  = render 'hidden_form_fields'
  = save_form_buttons(f, 'Personen importieren', group_people_path(group))

= standard_form(:csv_import, url: define_mapping_group_csv_imports_path, builder: PlainObjectFormBuilder) do |f|
  = render 'hidden_form_fields'
  .btn-toolbar
    .btn-group
      = f.button('Zurück', class: 'btn btn-secondary')
