-#  Copyright (c) 2012-2014, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

.nav-left-overlay
%nav#page-navigation
  .nav-left-section.text-right.visible-phone
    %a.nav-left-close.toggle-nav
      = t('global.button.close')
      = icon('times')
  = render_main_nav

  .nav-left-section.options
    %ul.nav-left-list
      %li.divider
      %li= link_to current_user, person_home_path(current_user)
      %li.divider
      = render 'layouts/languages'
      %li= link_to t('.sign_out'), sign_out_path, method: "delete"
