%ul
  - if person_signed_in?
    %li= link_to current_user, person_home_path(current_user)
    %li= link_to "Ausloggen", destroy_person_session_path, method: "delete"
  - else
    %li= link_to "Anmelden", new_person_session_path
    %li= link_to "Passwort vergessen?", new_person_password_path
  %li
    = form_tag full_path, class: 'form-inline', method: :get do
      .input-append
        = search_field_tag :q, params[:q], 
                           class: 'span2',
                           id: 'quicksearch',
                           placeholder: 'search',
                           data: { person_url: person_url(1).gsub(/\/1$/, ''), 
                                   group_url: groups_url } 
        = button_tag icon(:search), class: 'btn'