-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

!!! 5

%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %title= "#{Settings.application.name} - #{title}"
    = csrf_meta_tag
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = stylesheet_link_tag 'ie.css', :media => 'all'
    <![endif]-->

    <!--[if IE 7]>
    = stylesheet_link_tag 'ie7.css', :media => 'all'
    <![endif]-->

    = stylesheet_link_tag 'application.css', :media => :screen
    = stylesheet_link_tag 'print.css', :media => :print

    = favicon_link_tag 'favicon.ico'

    = yield :head

  %body

    %header#page-header
      .container-fluid
        = link_to Settings.application.name, root_path, :class => 'brand'

        - if current_user
          = render 'layouts/nav'
        - elsif current_user.nil? # nil without login, false on error
          = render 'layouts/unauthorized'

    #page{class: ('with-left-nav' if sheet.left_nav?)}
      - if sheet.left_nav?
        %nav.nav-left
          = sheet.render_left_nav

      .container-fluid
        = render_sheets do
          .content-header
            %h1= title
            = sheet.render_main_tabs

          = yield :filter
          - if content_for?(:toolbar)
            .btn-toolbar= yield :toolbar

          -# div must always exist to insert flash messages with ajax
          #flash
            = render partial: 'layouts/flash', collection: [:notice, :alert], as: :level

          = content_for?(:content) ? yield(:content) : yield

    %footer#page-footer
      .container-fluid
        .row
          - footer = Settings.application.footer
          .span3
            - if footer.logo_image.present?
              = link_to image_tag(footer.logo_image), footer.logo_url, target: '_blank'
          .footer_content.span9
            %p
              -footer.links.to_hash.each do |label, url|
                = link_to label, url, target: '_blank'
                %br/
            %p
              - if Wagons.app_version.to_s > '0.0'
                Version
                = Wagons.app_version
                %br/

              = link_to t('.source_code'), 'https://github.com/hitobito', target: '_blank'
              = t('.available_under_license')
              = link_to 'GNU Affero General Public License', 'http://www.gnu.org/licenses/agpl-3.0.html', target: '_blank'
              %br/
              = t('.developed_by')
              = link_to 'Puzzle ITC', 'http://puzzle.ch', target: '_blank'
              2012 -
              = Time.zone.now.year

  = javascript_include_tag 'application'
  = yield(:js_includes)
  = javascript_tag yield(:javascripts) if content_for?(:javascripts)
