-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

!!! 5

%html{lang: I18n.locale}
  %head
    %meta{charset: 'utf-8'}
    %title= "#{Settings.application.name} - #{title}"
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'turbolinks-cache-control', content: 'no-cache'}

    = csrf_meta_tag
    = wagon_favicon_pack_tag 'favicon.ico'

    = stylesheet_pack_tag 'application', media: 'screen', 'data-turbolinks-track': true
    = stylesheet_pack_tag 'print', media: 'print'
    - if Rails.env.test?
      = stylesheet_pack_tag 'disable_animations'
    = javascript_pack_tag 'application', 'data-turbolinks-track': true

    = yield(:head)

  %body{class: ('is-logged-out' unless person_signed_in?) }
    #modal-placeholder
    %main
      = render 'layouts/file_download' if current_user
      = render 'layouts/synchronization' if current_user
      - if origin_user
        = render 'layouts/user_impersonation'

    %header.logo
      = link_to(header_logo, root_path, class: 'logo-image')

    #page{class: ('is-nav-not-rendered' unless render_nav?)}
      - if render_nav?
        %nav.nav-left
          = render 'layouts/nav'
      .container-fluid
        #page-header
          - if current_user
            = link_to(icon('bars') + t('navigation.menu'), '#', class: 'toggle-nav visible-phone')
            - if current_person&.roles.present? || current_person&.root?
              = render 'layouts/quicksearch'
            - else
              = render 'layouts/languages'
            = link_to current_user, person_home_path(current_user), class: 'hidden-phone'
            = link_to t('layouts.nav.sign_out'), sign_out_path, method: "delete", class: 'hidden-phone'
          - elsif current_user.nil? # nil without login, false on error
            = render 'layouts/unauthorized'

        - if current_person&.roles.present? || current_person&.root?
          = render_sheets do
            .content-header
              %h1
                = title
                = help_text_renderer.action_trigger
              = help_text_renderer.action_text

              = sheet.render_main_tabs

            = yield :filter
            - if content_for?(:toolbar)
              .btn-toolbar= yield :toolbar

            -# div must always exist to insert flash messages with ajax
            #flash
              = render partial: 'layouts/flash', collection: [:notice, :warn, :alert], as: :level

            = content_for?(:content) ? yield(:content) : yield
        - else
          = render_current_sheet do
            .content-header
              %h1
                = title

              = sheet.render_main_tabs

            - if content_for?(:toolbar)
              .btn-toolbar= yield :toolbar

            -# div must always exist to insert flash messages with ajax
            #flash
              = render partial: 'layouts/flash', collection: [:notice, :alert], as: :level

            = content_for?(:content) ? yield(:content) : yield

  = render 'layouts/footer'

  = javascript_tag yield(:javascripts) if content_for?(:javascripts)
